In [1]:
# 第十章

In [2]:
#数据的聚合与分组运算

In [3]:
# pandas提供了一个灵活高效的 gruopby 功能
# 拆分 应用 合并

In [4]:
import pandas as pd

In [5]:
import numpy as np

In [6]:
df = pd.DataFrame({'key1':['a','a','b','b','a'],
                   'key2':['one','two','one','two','one'],
                   'data1':np.random.randn(5),
                   'data2':np.random.randn(5)})

In [7]:
df

  key1 key2     data1     data2
0    a  one -0.706828 -0.754514
1    a  two  0.994045 -1.072632
2    b  one  0.624438 -0.260459
3    b  two -0.192318 -1.490627
4    a  one  0.108966  0.389309

In [8]:
# 想要按照key1 进行分组，求data1的平均值： 访问data1，并根据key1调用groupby

In [9]:
grouped = df['data1'].groupby(df['key1'])

In [10]:
grouped

In [11]:
grouped.mean()

key1
a   -0.897059
b   -0.050265
Name: data1, dtype: float64

In [12]:
df

  key1 key2     data1     data2
0    a  one  0.964512  1.566060
1    a  two -1.948268  0.282639
2    b  one -0.009187 -1.270107
3    b  two -0.091343 -0.678741
4    a  one -1.707422 -1.969004

In [13]:
means = df['data1'].groupby([df['key1'],df['key2']]).mean()

In [14]:
means

key1  key2
a     one    -0.371455
      two    -1.948268
b     one    -0.009187
      two    -0.091343
Name: data1, dtype: float64

In [16]:
states = np.array(['Ohio', 'California', 'California', 'Ohio', 'Ohio'])
years = np.array([2005, 2005, 2006, 2005, 2006]) 
df['data1'].groupby([states, years]).mean()

California  2005   -1.948268
            2006   -0.009187
Ohio        2005    0.436584
            2006   -1.707422
Name: data1, dtype: float64

In [17]:
states

array(['Ohio', 'California', 'California', 'Ohio', 'Ohio'], dtype='<U10')

In [18]:
years

array([2005, 2005, 2006, 2005, 2006])

In [19]:
[states,years]

[array(['Ohio', 'California', 'California', 'Ohio', 'Ohio'], dtype='<U10'),
 array([2005, 2005, 2006, 2005, 2006])]

In [20]:
df['data1'].groupby([states, years]).mean()

California  2005   -1.948268
            2006   -0.009187
Ohio        2005    0.436584
            2006   -1.707422
Name: data1, dtype: float64

In [21]:
df

  key1 key2     data1     data2
0    a  one  0.964512  1.566060
1    a  two -1.948268  0.282639
2    b  one -0.009187 -1.270107
3    b  two -0.091343 -0.678741
4    a  one -1.707422 -1.969004

In [22]:
df.groupby('key1').mean()

         data1     data2
key1
a    -0.897059 -0.040102
b    -0.050265 -0.974424

In [8]:
# 对分组进行迭代

In [11]:
for name,group in df.groupby('key1'):
    print(name)
    print(group)

a
  key1 key2     data1     data2
0    a  one -0.706828 -0.754514
1    a  two  0.994045 -1.072632
4    a  one  0.108966  0.389309
b
  key1 key2     data1     data2
2    b  one  0.624438 -0.260459
3    b  two -0.192318 -1.490627

In [10]:
df

  key1 key2     data1     data2
0    a  one -0.706828 -0.754514
1    a  two  0.994045 -1.072632
2    b  one  0.624438 -0.260459
3    b  two -0.192318 -1.490627
4    a  one  0.108966  0.389309

In [12]:
for name,group in df.groupby('key1'):
    print(name)
    print(group)

a
  key1 key2     data1     data2
0    a  one -0.706828 -0.754514
1    a  two  0.994045 -1.072632
4    a  one  0.108966  0.389309
b
  key1 key2     data1     data2
2    b  one  0.624438 -0.260459
3    b  two -0.192318 -1.490627

In [13]:
for name,group in df.groupby('key1'):
    print(name)

a
b

In [14]:
for name,group in df.groupby('key1'):
    print(group)

  key1 key2     data1     data2
0    a  one -0.706828 -0.754514
1    a  two  0.994045 -1.072632
4    a  one  0.108966  0.389309
  key1 key2     data1     data2
2    b  one  0.624438 -0.260459
3    b  two -0.192318 -1.490627

In [17]:
# groupby 对象支持迭代，可以产生一组二元元组
# 元组由分组名和数据块组成

In [18]:
# 对于多重建的情况，元组的第一个元素将会是由键值对组成的元组

In [19]:
for (k1,k2) ,group in df.groupby(['key1','key2']):
    print((k1,k2))
    print(group)

('a', 'one')
  key1 key2     data1     data2
0    a  one -0.706828 -0.754514
4    a  one  0.108966  0.389309
('a', 'two')
  key1 key2     data1     data2
1    a  two  0.994045 -1.072632
('b', 'one')
  key1 key2     data1     data2
2    b  one  0.624438 -0.260459
('b', 'two')
  key1 key2     data1     data2
3    b  two -0.192318 -1.490627

In [20]:
# 也可以将这些数据片段作成一个字典

In [21]:
pieces = dict(list(df.groupby('key1')))

In [22]:
pieces.head()

AttributeError: 'dict' object has no attribute 'head'

In [23]:
pieces

{'a':   key1 key2     data1     data2
 0    a  one -0.706828 -0.754514
 1    a  two  0.994045 -1.072632
 4    a  one  0.108966  0.389309, 'b':   key1 key2     data1     data2
 2    b  one  0.624438 -0.260459
 3    b  two -0.192318 -1.490627}

In [24]:
pieces['b']

  key1 key2     data1     data2
2    b  one  0.624438 -0.260459
3    b  two -0.192318 -1.490627

In [25]:
pieces['a']

  key1 key2     data1     data2
0    a  one -0.706828 -0.754514
1    a  two  0.994045 -1.072632
4    a  one  0.108966  0.389309

In [26]:
# groupby 默认是在axis = 0 上进行分组，通过设置也可以在其他任何轴上进行分组

In [27]:
df.dtypes

key1      object
key2      object
data1    float64
data2    float64
dtype: object

In [28]:
grouped = df.groupby(df.dtypes,axis = 1)

In [29]:
grouped

In [34]:
for dtype, gruop in grouped:
    print(dtype)
    print(group)

float64
  key1 key2     data1     data2
3    b  two -0.192318 -1.490627
object
  key1 key2     data1     data2
3    b  two -0.192318 -1.490627

In [35]:
df

  key1 key2     data1     data2
0    a  one -0.706828 -0.754514
1    a  two  0.994045 -1.072632
2    b  one  0.624438 -0.260459
3    b  two -0.192318 -1.490627
4    a  one  0.108966  0.389309

In [36]:
df.groupby('key1')['data1']

In [37]:
df_data1 = df.groupby('key1')['data1']

In [38]:
df_data1

In [39]:
df_data1.mean()

key1
a    0.132061
b    0.216060
Name: data1, dtype: float64

In [40]:
df

  key1 key2     data1     data2
0    a  one -0.706828 -0.754514
1    a  two  0.994045 -1.072632
2    b  one  0.624438 -0.260459
3    b  two -0.192318 -1.490627
4    a  one  0.108966  0.389309

In [41]:
df_data2 = df.groupby('key1')['data2']

In [42]:
df_data2.mean()

key1
a   -0.479279
b   -0.875543
Name: data2, dtype: float64

In [43]:
df.groupby(['key1','key2'])['data2'].mean()

key1  key2
a     one    -0.182603
      two    -1.072632
b     one    -0.260459
      two    -1.490627
Name: data2, dtype: float64

In [44]:
people = pd.DataFrame(np.random.randn(5, 5),           columns=['a', 'b', 'c', 'd', 'e'],        index=['Joe', 'Steve', 'Wes', 'Jim', 'Travis'])

In [45]:
people.iloc[2:3, [1, 2]] = np.nan

In [46]:
people

               a         b         c         d         e
Joe    -0.266593 -0.722204 -0.727868  0.310961  0.766751
Steve  -1.236804  0.865431 -1.621555 -0.993463 -0.474768
Wes     0.273275       NaN       NaN  0.416388  1.430781
Jim     0.462139  1.796816 -1.412447  0.211591  0.754490
Travis  0.802744  1.923687 -0.865271  0.121857  0.381964

In [52]:
mapping = {'a': 'red', 'b': 'red', 'c': 'blue',        'd': 'blue', 'e': 'red', 'f' : 'orange'}

In [48]:
by_colmun = people.groupby(mapping,axis = 1)

In [49]:
by_colmun.sum()

            blue       red
Joe    -0.416907 -0.222047
Steve  -2.615018 -0.846141
Wes     0.416388  1.704056
Jim    -1.200856  3.013446
Travis -0.743413  3.108394

In [56]:
map_se = pd.Series(mapping)

In [54]:
mapping

{'a': 'red', 'b': 'red', 'c': 'blue', 'd': 'blue', 'e': 'red', 'f': 'orange'}

In [57]:
map_se

a       red
b       red
c      blue
d      blue
e       red
f    orange
dtype: object

In [58]:
people.groupby(map_se,axis = 1).count()

        blue  red
Joe        2    3
Steve      2    3
Wes        1    2
Jim        2    3
Travis     2    3

In [59]:
people

               a         b         c         d         e
Joe    -0.266593 -0.722204 -0.727868  0.310961  0.766751
Steve  -1.236804  0.865431 -1.621555 -0.993463 -0.474768
Wes     0.273275       NaN       NaN  0.416388  1.430781
Jim     0.462139  1.796816 -1.412447  0.211591  0.754490
Travis  0.802744  1.923687 -0.865271  0.121857  0.381964

In [60]:
people.groupby(len).sum()

          a         b         c         d         e
3  0.468821  1.074612 -2.140315  0.938941  2.952022
5 -1.236804  0.865431 -1.621555 -0.993463 -0.474768
6  0.802744  1.923687 -0.865271  0.121857  0.381964

In [61]:
# 面向列的多函数应用

In [62]:
tips = pd.read_csv('examples/tips.csv')

In [64]:
tips['tip_pct'] = tips['tip'] / tips['total_bill']

In [66]:
tips[:7]

   total_bill   tip smoker  day    time  size   tip_pct
0       16.99  1.01     No  Sun  Dinner     2  0.059447
1       10.34  1.66     No  Sun  Dinner     3  0.160542
2       21.01  3.50     No  Sun  Dinner     3  0.166587
3       23.68  3.31     No  Sun  Dinner     2  0.139780
4       24.59  3.61     No  Sun  Dinner     4  0.146808
5       25.29  4.71     No  Sun  Dinner     4  0.186240
6        8.77  2.00     No  Sun  Dinner     2  0.228050

In [67]:
# 希望对不同的列使用不同的聚合函数

In [68]:
grouped = tips.groupby(['day','smoker'])

In [69]:
grouped_pct = grouped['tip_pct']

In [70]:
grouped_pct.agg('mean')

day   smoker
Fri   No        0.151650
      Yes       0.174783
Sat   No        0.158048
      Yes       0.147906
Sun   No        0.160113
      Yes       0.187250
Thur  No        0.160298
      Yes       0.163863
Name: tip_pct, dtype: float64

In [71]:
grouped

In [72]:
tips

     total_bill   tip smoker   day    time  size   tip_pct
0         16.99  1.01     No   Sun  Dinner     2  0.059447
1         10.34  1.66     No   Sun  Dinner     3  0.160542
2         21.01  3.50     No   Sun  Dinner     3  0.166587
3         23.68  3.31     No   Sun  Dinner     2  0.139780
4         24.59  3.61     No   Sun  Dinner     4  0.146808
5         25.29  4.71     No   Sun  Dinner     4  0.186240
6          8.77  2.00     No   Sun  Dinner     2  0.228050
7         26.88  3.12     No   Sun  Dinner     4  0.116071
8         15.04  1.96     No   Sun  Dinner     2  0.130319
9         14.78  3.23     No   Sun  Dinner     2  0.218539
10        10.27  1.71     No   Sun  Dinner     2  0.166504
11        35.26  5.00     No   Sun  Dinner     4  0.141804
12        15.42  1.57     No   Sun  Dinner     2  0.101816
13        18.43  3.00     No   Sun  Dinner     4  0.162778
14        14.83  3.02     No   Sun  Dinner     2  0.203641
15        21.58  3.92     No   Sun  Dinner     2  0.181650
16        10.33  1.67     No   Sun  Dinner     3  0.161665
17        16.29  3.71     No   Sun  Dinner     3  0.227747
18        16.97  3.50     No   Sun  Dinner     3  0.206246
19        20.65  3.35     No   Sat  Dinner     3  0.162228
20        17.92  4.08     No   Sat  Dinner     2  0.227679
21        20.29  2.75     No   Sat  Dinner     2  0.135535
22        15.77  2.23     No   Sat  Dinner     2  0.141408
23        39.42  7.58     No   Sat  Dinner     4  0.192288
24        19.82  3.18     No   Sat  Dinner     2  0.160444
25        17.81  2.34     No   Sat  Dinner     4  0.131387
26        13.37  2.00     No   Sat  Dinner     2  0.149589
27        12.69  2.00     No   Sat  Dinner     2  0.157604
28        21.70  4.30     No   Sat  Dinner     2  0.198157
29        19.65  3.00     No   Sat  Dinner     2  0.152672
..          ...   ...    ...   ...     ...   ...       ...
214       28.17  6.50    Yes   Sat  Dinner     3  0.230742
215       12.90  1.10    Yes   Sat  Dinner     2  0.085271
216       28.15  3.00    Yes   Sat  Dinner     5  0.106572
217       11.59  1.50    Yes   Sat  Dinner     2  0.129422
218        7.74  1.44    Yes   Sat  Dinner     2  0.186047
219       30.14  3.09    Yes   Sat  Dinner     4  0.102522
220       12.16  2.20    Yes   Fri   Lunch     2  0.180921
221       13.42  3.48    Yes   Fri   Lunch     2  0.259314
222        8.58  1.92    Yes   Fri   Lunch     1  0.223776
223       15.98  3.00     No   Fri   Lunch     3  0.187735
224       13.42  1.58    Yes   Fri   Lunch     2  0.117735
225       16.27  2.50    Yes   Fri   Lunch     2  0.153657
226       10.09  2.00    Yes   Fri   Lunch     2  0.198216
227       20.45  3.00     No   Sat  Dinner     4  0.146699
228       13.28  2.72     No   Sat  Dinner     2  0.204819
229       22.12  2.88    Yes   Sat  Dinner     2  0.130199
230       24.01  2.00    Yes   Sat  Dinner     4  0.083299
231       15.69  3.00    Yes   Sat  Dinner     3  0.191205
232       11.61  3.39     No   Sat  Dinner     2  0.291990
233       10.77  1.47     No   Sat  Dinner     2  0.136490
234       15.53  3.00    Yes   Sat  Dinner     2  0.193175
235       10.07  1.25     No   Sat  Dinner     2  0.124131
236       12.60  1.00    Yes   Sat  Dinner     2  0.079365
237       32.83  1.17    Yes   Sat  Dinner     2  0.035638
238       35.83  4.67     No   Sat  Dinner     3  0.130338
239       29.03  5.92     No   Sat  Dinner     3  0.203927
240       27.18  2.00    Yes   Sat  Dinner     2  0.073584
241       22.67  2.00    Yes   Sat  Dinner     2  0.088222
242       17.82  1.75     No   Sat  Dinner     2  0.098204
243       18.78  3.00     No  Thur  Dinner     2  0.159744

[244 rows x 7 columns]

In [73]:
def top(df,n=5,column = 'tip_pct'):
    return df.sort_values(by = column)[-n:]

In [74]:
top(tips,n=6)

     total_bill   tip smoker  day    time  size   tip_pct
109       14.31  4.00    Yes  Sat  Dinner     2  0.279525
183       23.17  6.50    Yes  Sun  Dinner     4  0.280535
232       11.61  3.39     No  Sat  Dinner     2  0.291990
67         3.07  1.00    Yes  Sat  Dinner     1  0.325733
178        9.60  4.00    Yes  Sun  Dinner     2  0.416667
172        7.25  5.15    Yes  Sun  Dinner     2  0.710345

In [75]:
tips.describe()

       total_bill         tip        size     tip_pct
count  244.000000  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672    0.160803
std      8.902412    1.383638    0.951100    0.061072
min      3.070000    1.000000    1.000000    0.035638
25%     13.347500    2.000000    2.000000    0.129127
50%     17.795000    2.900000    2.000000    0.154770
75%     24.127500    3.562500    3.000000    0.191475
max     50.810000   10.000000    6.000000    0.710345

In [86]:
tips.groupby('smoker').apply(top)

            total_bill   tip smoker   day    time  size   tip_pct
smoker
No     88        24.71  5.85     No  Thur   Lunch     2  0.236746
       185       20.69  5.00     No   Sun  Dinner     5  0.241663
       51        10.29  2.60     No   Sun  Dinner     2  0.252672
       149        7.51  2.00     No  Thur   Lunch     2  0.266312
       232       11.61  3.39     No   Sat  Dinner     2  0.291990
Yes    109       14.31  4.00    Yes   Sat  Dinner     2  0.279525
       183       23.17  6.50    Yes   Sun  Dinner     4  0.280535
       67         3.07  1.00    Yes   Sat  Dinner     1  0.325733
       178        9.60  4.00    Yes   Sun  Dinner     2  0.416667
       172        7.25  5.15    Yes   Sun  Dinner     2  0.710345

In [85]:
tips.groupby('smoker',group_keys = False).apply(top)

     total_bill   tip smoker   day    time  size   tip_pct
88        24.71  5.85     No  Thur   Lunch     2  0.236746
185       20.69  5.00     No   Sun  Dinner     5  0.241663
51        10.29  2.60     No   Sun  Dinner     2  0.252672
149        7.51  2.00     No  Thur   Lunch     2  0.266312
232       11.61  3.39     No   Sat  Dinner     2  0.291990
109       14.31  4.00    Yes   Sat  Dinner     2  0.279525
183       23.17  6.50    Yes   Sun  Dinner     4  0.280535
67         3.07  1.00    Yes   Sat  Dinner     1  0.325733
178        9.60  4.00    Yes   Sun  Dinner     2  0.416667
172        7.25  5.15    Yes   Sun  Dinner     2  0.710345

In [81]:
tips.groupby(['smoker','day']).apply(top,n=3,column='total_bill')

                 total_bill    tip smoker   day    time  size   tip_pct
smoker day
No     Fri  223       15.98   3.00     No   Fri   Lunch     3  0.187735
            91        22.49   3.50     No   Fri  Dinner     2  0.155625
            94        22.75   3.25     No   Fri  Dinner     2  0.142857
       Sat  23        39.42   7.58     No   Sat  Dinner     4  0.192288
            59        48.27   6.73     No   Sat  Dinner     4  0.139424
            212       48.33   9.00     No   Sat  Dinner     4  0.186220
       Sun  11        35.26   5.00     No   Sun  Dinner     4  0.141804
            112       38.07   4.00     No   Sun  Dinner     3  0.105070
            156       48.17   5.00     No   Sun  Dinner     6  0.103799
       Thur 141       34.30   6.70     No  Thur   Lunch     6  0.195335
            85        34.83   5.17     No  Thur   Lunch     4  0.148435
            142       41.19   5.00     No  Thur   Lunch     5  0.121389
Yes    Fri  96        27.28   4.00    Yes   Fri  Dinner     2  0.146628
            90        28.97   3.00    Yes   Fri  Dinner     2  0.103555
            95        40.17   4.73    Yes   Fri  Dinner     4  0.117750
       Sat  207       38.73   3.00    Yes   Sat  Dinner     4  0.077459
            102       44.30   2.50    Yes   Sat  Dinner     3  0.056433
            170       50.81  10.00    Yes   Sat  Dinner     3  0.196812
       Sun  180       34.65   3.68    Yes   Sun  Dinner     4  0.106205
            184       40.55   3.00    Yes   Sun  Dinner     2  0.073983
            182       45.35   3.50    Yes   Sun  Dinner     3  0.077178
       Thur 192       28.44   2.56    Yes  Thur   Lunch     2  0.090014
            83        32.68   5.00    Yes  Thur   Lunch     2  0.152999
            197       43.11   5.00    Yes  Thur   Lunch     4  0.115982

In [82]:
result = tips.groupby('smoker')['tip_pct'].describe()

In [83]:
result

,count,mean,std,min,25%,50%,75%,max
smoker,,,,,,,,
No,151.0,0.159328,0.039910,0.056797,0.136906,0.155625,0.185014,0.291990
Yes,93.0,0.163196,0.085119,0.035638,0.106771,0.153846,0.195059,0.710345

In [84]:
result.unstack('smoker')

       smoker
count  No        151.000000
       Yes        93.000000
mean   No          0.159328
       Yes         0.163196
std    No          0.039910
       Yes         0.085119
min    No          0.056797
       Yes         0.035638
25%    No          0.136906
       Yes         0.106771
50%    No          0.155625
       Yes         0.153846
75%    No          0.185014
       Yes         0.195059
max    No          0.291990
       Yes         0.710345
dtype: float64

In [90]:
tips.groupby(['smoker','day']).apply(top,n = 2,column = 'total_bill')

                 total_bill    tip smoker   day    time  size   tip_pct
smoker day
No     Fri  91        22.49   3.50     No   Fri  Dinner     2  0.155625
            94        22.75   3.25     No   Fri  Dinner     2  0.142857
       Sat  59        48.27   6.73     No   Sat  Dinner     4  0.139424
            212       48.33   9.00     No   Sat  Dinner     4  0.186220
       Sun  112       38.07   4.00     No   Sun  Dinner     3  0.105070
            156       48.17   5.00     No   Sun  Dinner     6  0.103799
       Thur 85        34.83   5.17     No  Thur   Lunch     4  0.148435
            142       41.19   5.00     No  Thur   Lunch     5  0.121389
Yes    Fri  90        28.97   3.00    Yes   Fri  Dinner     2  0.103555
            95        40.17   4.73    Yes   Fri  Dinner     4  0.117750
       Sat  102       44.30   2.50    Yes   Sat  Dinner     3  0.056433
            170       50.81  10.00    Yes   Sat  Dinner     3  0.196812
       Sun  184       40.55   3.00    Yes   Sun  Dinner     2  0.073983
            182       45.35   3.50    Yes   Sun  Dinner     3  0.077178
       Thur 83        32.68   5.00    Yes  Thur   Lunch     2  0.152999
            197       43.11   5.00    Yes  Thur   Lunch     4  0.115982

In [89]:
tips.groupby(['smoker','day'],group_keys = False).apply(top,n = 2,column = 'total_bill')

     total_bill    tip smoker   day    time  size   tip_pct
91        22.49   3.50     No   Fri  Dinner     2  0.155625
94        22.75   3.25     No   Fri  Dinner     2  0.142857
59        48.27   6.73     No   Sat  Dinner     4  0.139424
212       48.33   9.00     No   Sat  Dinner     4  0.186220
112       38.07   4.00     No   Sun  Dinner     3  0.105070
156       48.17   5.00     No   Sun  Dinner     6  0.103799
85        34.83   5.17     No  Thur   Lunch     4  0.148435
142       41.19   5.00     No  Thur   Lunch     5  0.121389
90        28.97   3.00    Yes   Fri  Dinner     2  0.103555
95        40.17   4.73    Yes   Fri  Dinner     4  0.117750
102       44.30   2.50    Yes   Sat  Dinner     3  0.056433
170       50.81  10.00    Yes   Sat  Dinner     3  0.196812
184       40.55   3.00    Yes   Sun  Dinner     2  0.073983
182       45.35   3.50    Yes   Sun  Dinner     3  0.077178
83        32.68   5.00    Yes  Thur   Lunch     2  0.152999
197       43.11   5.00    Yes  Thur   Lunch     4  0.115982

In [91]:
# 对于缺失数据的清理工作，有时你会用 dropna 将其替换吊，而有时则可能会希望用一个固定值或有数据集本书所衍生出来的值去填充NA值，这时候使用fillna

In [92]:
s = pd.Series(np.random.randn(6))

In [93]:
s[::2]

0   -1.848861
2   -0.978967
4    0.142380
dtype: float64

In [94]:
s[::2] = np.nan

In [95]:
s

0         NaN
1    0.994719
2         NaN
3   -1.647690
4         NaN
5   -0.111416
dtype: float64

In [96]:
s.fillna(s.mean())

0   -0.254796
1    0.994719
2   -0.254796
3   -1.647690
4   -0.254796
5   -0.111416
dtype: float64

In [97]:
s

0         NaN
1    0.994719
2         NaN
3   -1.647690
4         NaN
5   -0.111416
dtype: float64

In [100]:
states = ['Ohio', 'New York', 'Vermont', 'Florida',      'Oregon', 'Nevada', 'California', 'Idaho']

In [99]:
group_key = ['East'] * 4 + ['West'] * 4

In [101]:
states

['Ohio',
 'New York',
 'Vermont',
 'Florida',
 'Oregon',
 'Nevada',
 'California',
 'Idaho']

In [102]:
group_key

['East', 'East', 'East', 'East', 'West', 'West', 'West', 'West']

In [103]:
data= pd.Series(np.random.randn(8),index=states)

In [104]:
data

Ohio          0.010100
New York      2.447543
Vermont      -1.358748
Florida       1.033059
Oregon        0.060959
Nevada       -0.055822
California   -0.481547
Idaho        -2.192187
dtype: float64

In [105]:
data[['Vermont', 'Nevada', 'Idaho']] = np.nan

In [106]:
data

Ohio          0.010100
New York      2.447543
Vermont            NaN
Florida       1.033059
Oregon        0.060959
Nevada             NaN
California   -0.481547
Idaho              NaN
dtype: float64

In [108]:
data.groupby(group_key).mean()

East    1.163567
West   -0.210294
dtype: float64

In [109]:
# 算均值的时候，如何某个值为NA，则这个值不算，计算总数的时候也不算

In [110]:
fill_mean = lambda g: g.fillna(g.mean())

In [111]:
data.groupby(group_key).apply(fill_mean)

Ohio          0.010100
New York      2.447543
Vermont       1.163567
Florida       1.033059
Oregon        0.060959
Nevada       -0.210294
California   -0.481547
Idaho        -0.210294
dtype: float64

In [112]:
# 另外也可以在代码中预定义各组的填充值

In [113]:
fill_values = {'East':0.5,'West':-1}

In [116]:
fill_func = lambda g:g.fillna(fill_values[g.name])

In [117]:
data.groupby(group_key).apply(fill_func)

Ohio          0.010100
New York      2.447543
Vermont       0.500000
Florida       1.033059
Oregon        0.060959
Nevada       -1.000000
California   -0.481547
Idaho        -1.000000
dtype: float64

In [118]:
suits = ['H','S','C','D']

In [119]:
card_val = (list(range(1,11)) + [10] * 3) * 4

In [120]:
card_val

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 10,
 10,
 10,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 10,
 10,
 10,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 10,
 10,
 10,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 10,
 10,
 10]

In [126]:
base_names = ['A'] + list(range(2,11)) + ['J','K','Q']

In [122]:
cards = []

In [127]:
for suit in ['H','S','C','D']:
    cards.extend(str(num) + suit for num in base_names)

In [128]:
deck = pd.Series(card_val,index=cards)

In [129]:
deck

AH      1
2H      2
3H      3
4H      4
5H      5
6H      6
7H      7
8H      8
9H      9
10H    10
JH     10
KH     10
QH     10
AS      1
2S      2
3S      3
4S      4
5S      5
6S      6
7S      7
8S      8
9S      9
10S    10
JS     10
KS     10
QS     10
AC      1
2C      2
3C      3
4C      4
5C      5
6C      6
7C      7
8C      8
9C      9
10C    10
JC     10
KC     10
QC     10
AD      1
2D      2
3D      3
4D      4
5D      5
6D      6
7D      7
8D      8
9D      9
10D    10
JD     10
KD     10
QD     10
dtype: int64

In [130]:
def draw(deck,n = 5):
    return deck.sample(n)

In [132]:
draw(deck)

9S      9
2D      2
4D      4
6D      6
10S    10
dtype: int64

In [133]:
# 想要从每种花色中随机抽取两张牌，花色是排名的最后一个字符，所以我们可以根据这个进行分组，使用apply

In [134]:
get_suit = lambda card:card[-1]

In [135]:
deck.groupby(get_suit).apply(draw,n= 2)

C  JC    10
   9C     9
D  AD     1
   JD    10
H  JH    10
   3H     3
S  4S     4
   5S     5
dtype: int64

In [136]:
deck.groupby(get_suit).apply(draw,n= 2)

C  KC    10
   4C     4
D  JD    10
   9D     9
H  5H     5
   2H     2
S  4S     4
   7S     7
dtype: int64

In [137]:
deck

AH      1
2H      2
3H      3
4H      4
5H      5
6H      6
7H      7
8H      8
9H      9
10H    10
JH     10
KH     10
QH     10
AS      1
2S      2
3S      3
4S      4
5S      5
6S      6
7S      7
8S      8
9S      9
10S    10
JS     10
KS     10
QS     10
AC      1
2C      2
3C      3
4C      4
5C      5
6C      6
7C      7
8C      8
9C      9
10C    10
JC     10
KC     10
QC     10
AD      1
2D      2
3D      3
4D      4
5D      5
6D      6
7D      7
8D      8
9D      9
10D    10
JD     10
KD     10
QD     10
dtype: int64

In [138]:
df = pd.DataFrame({'category': ['a', 'a', 'a', 'a',                            'b', 'b', 'b', 'b'],          'data': np.random.randn(8),               'weights': np.random.rand(8)})

In [139]:
df

  category      data   weights
0        a -0.546780  0.493110
1        a -0.082451  0.971752
2        a -0.399803  0.603862
3        a -0.971996  0.991820
4        b -1.161503  0.874084
5        b  0.233018  0.998033
6        b  0.813910  0.936229
7        b  1.397368  0.843726

    grouped = df.gropuby

In [140]:
gropued = df.groupby('category')

In [141]:
grouped

In [144]:
get_wavg = lambda g: np.average(g['data'],weights=['weights'])

In [145]:
grouped.apply(get_wavg)

KeyError: 'data'

In [146]:
# 透视表和交叉表

In [147]:
tips.pivot_table(index=['day','smoker'])

                 size       tip   tip_pct  total_bill
day  smoker
Fri  No      2.250000  2.812500  0.151650   18.420000
     Yes     2.066667  2.714000  0.174783   16.813333
Sat  No      2.555556  3.102889  0.158048   19.661778
     Yes     2.476190  2.875476  0.147906   21.276667
Sun  No      2.929825  3.167895  0.160113   20.506667
     Yes     2.578947  3.516842  0.187250   24.120000
Thur No      2.488889  2.673778  0.160298   17.113111
     Yes     2.352941  3.030000  0.163863   19.190588