In [1]:
# 时间序列

In [1]:
from datetime import datetime

In [3]:
now = datetime.now()

In [4]:
now

datetime.datetime(2019, 3, 13, 19, 20, 40, 311210)

In [5]:
now.year

2019

In [6]:
now.month

3

In [7]:
now.day

13

In [8]:
delta = datetime(2011,1,7) - datetime(2008,6,24,8,15)

In [9]:
delta

datetime.timedelta(926, 56700)

In [10]:
delta.days

926

In [11]:
delat.seconds

NameError: name 'delat' is not defined

In [12]:
delta.seconds

56700

In [13]:
delat

NameError: name 'delat' is not defined

In [14]:
delta

datetime.timedelta(926, 56700)

In [15]:
# datetime 模块中的数据类型

In [16]:
# dare 以公历形式存储日历日期（年月日）

In [17]:
# time 将时间存储为时、分、秒、毫秒

In [18]:
# datetime 存储日期和时间

In [19]:
# timedelta 表示两个datetime值之间的差(日、秒、毫秒)

In [20]:
# 字符串和 datetime的相互转换

In [21]:
stamp = datetime(2001,1,3)

In [22]:
str(stamp)

'2001-01-03 00:00:00'

In [23]:
stamp.strftime('%Y-%m-%d')

'2001-01-03'

In [25]:
# %Y 4位数的年  %y 两位数的年  %m 2位数的月[01, 12 ]  %d 2位数的日[01,31]

In [26]:
# %H 时（24小时制）[00,24]  %l  时（12小时制）[01,12]

In [27]:
# %M 两位数的分[00,59]   %s 秒[00,61]  %w 用整数表示星期几[0(星期天)，6]

In [34]:
value = '2001--01--03'

In [35]:
datetime.strptime(value,'%Y--%m--%d')

datetime.datetime(2001, 1, 3, 0, 0)

In [36]:
datestrs = ['7/6/2011','8/6/2011']

In [37]:
[datetime.strptime(x,'%m/%d/%Y') for x in datestrs]

[datetime.datetime(2011, 7, 6, 0, 0), datetime.datetime(2011, 8, 6, 0, 0)]

In [38]:
# datetime.strptime 是通过已知格式进行日期解析的最佳方式，但是每次都要编写格式定义很麻烦，尤其是对于一些常见的日期格式
# 这个时候可以调用dateutil包中的parser.parse方法

In [39]:
from dateutil.parser import parse

In [44]:
parse('2011/01/03')

datetime.datetime(2011, 1, 3, 0, 0)

In [45]:
parse('Jan 31, 1997 10:45 PM')

datetime.datetime(1997, 1, 31, 22, 45)

In [46]:
# 国际通用的格式中，日出现在月的前面还是很普遍的，传入dayfirst = True 可以解决这个问题

In [47]:
parse('6/11/2011')

datetime.datetime(2011, 6, 11, 0, 0)

In [48]:
parse('6/11/2011',dayfirst = True)

datetime.datetime(2011, 11, 6, 0, 0)

In [49]:
datestrs = ['2011-07-06 12:00:00','2011-08-06 00:00:00']

In [2]:
import pandas as pd

In [51]:
pd.to_datetime(datestrs)

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00'], dtype='datetime64[ns]', freq=None)

In [52]:
idx = pd.to_datetime(datestrs + [None])

In [53]:
idx

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00', 'NaT'], dtype='datetime64[ns]', freq=None)

In [54]:
idx[2]

NaT

In [55]:
idx[1]

Timestamp('2011-08-06 00:00:00')

In [56]:
pd.isnull(idx)

array([False, False,  True])

In [57]:
# 时间序列基础

In [58]:
# pandas 最基本的时间序列类型就是以时间戳（通常以python字符串或datetime对象表示） 为索引的Series

In [3]:
from datetime import datetime

In [4]:
dates = dates = [datetime(2011, 1, 2), datetime(2011, 1, 5),         datetime(2011, 1, 7), datetime(2011, 1, 8),      datetime(2011, 1, 10), datetime(2011, 1, 12)]

In [61]:
dates

[datetime.datetime(2011, 1, 2, 0, 0),
 datetime.datetime(2011, 1, 5, 0, 0),
 datetime.datetime(2011, 1, 7, 0, 0),
 datetime.datetime(2011, 1, 8, 0, 0),
 datetime.datetime(2011, 1, 10, 0, 0),
 datetime.datetime(2011, 1, 12, 0, 0)]

In [5]:
ts = pd.Series(np.random.randn(6),index = dates)

In [4]:
import numpy as np

In [65]:
ts

2011-01-02   -0.252692
2011-01-05   -0.625740
2011-01-07    0.848527
2011-01-08    0.480530
2011-01-10   -1.465228
2011-01-12    0.106023
dtype: float64

In [66]:
ts.DatetimeIndex

AttributeError: 'Series' object has no attribute 'DatetimeIndex'

In [67]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [68]:
ts[::2]

2011-01-02   -0.252692
2011-01-07    0.848527
2011-01-10   -1.465228
dtype: float64

In [69]:
ts

2011-01-02   -0.252692
2011-01-05   -0.625740
2011-01-07    0.848527
2011-01-08    0.480530
2011-01-10   -1.465228
2011-01-12    0.106023
dtype: float64

In [70]:
ts + ts[::2]

2011-01-02   -0.505383
2011-01-05         NaN
2011-01-07    1.697054
2011-01-08         NaN
2011-01-10   -2.930456
2011-01-12         NaN
dtype: float64

In [71]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [72]:
ts.index[0]

Timestamp('2011-01-02 00:00:00')

In [6]:
stamp = ts.index[0]

In [7]:
stamp

Timestamp('2011-01-02 00:00:00')

In [8]:
# 索引、选取、子集构造

In [9]:
stamp = ts.index[2]

In [10]:
stamp

Timestamp('2011-01-07 00:00:00')

In [11]:
ts

2011-01-02   -0.189741
2011-01-05    0.682637
2011-01-07   -1.144032
2011-01-08   -0.793821
2011-01-10    2.343634
2011-01-12    1.990836
dtype: float64

In [12]:
stamp = ts.index[2]

In [13]:
stamp

Timestamp('2011-01-07 00:00:00')

In [14]:
ts.[stamp]

SyntaxError: invalid syntax (<ipython-input-14-14285501c471>, line 1)

In [15]:
ts[stamp]

-1.1440321644587905

In [16]:
# 还可以传入一个可以被解释为日期的字符串

In [31]:
ts['12/1/2011']

KeyError: '12/1/2011'

In [30]:
ts['12/1/20110',dayFirst = True]

SyntaxError: invalid syntax (<ipython-input-30-e059e86c6400>, line 1)

In [22]:
longer_ts = pd.Series(np.random.randn(1000),index=pd.date_range('1/1/2000',periods=1000))

In [23]:
longer_ts

2000-01-01   -2.540306
2000-01-02   -0.749778
2000-01-03    0.733192
2000-01-04    1.343641
2000-01-05   -0.083819
2000-01-06    0.958993
2000-01-07   -0.240046
2000-01-08    0.678108
2000-01-09   -0.124921
2000-01-10   -0.567733
2000-01-11    0.258523
2000-01-12    0.894546
2000-01-13   -1.388255
2000-01-14    0.274227
2000-01-15    0.113561
2000-01-16    0.659844
2000-01-17   -0.834852
2000-01-18   -0.005097
2000-01-19   -0.044164
2000-01-20    0.188116
2000-01-21    0.364380
2000-01-22   -1.004201
2000-01-23    0.077893
2000-01-24   -0.237687
2000-01-25   -0.795845
2000-01-26    0.137153
2000-01-27    0.122194
2000-01-28    1.018186
2000-01-29   -0.747156
2000-01-30   -0.332438
                ...
2002-08-28   -0.037383
2002-08-29   -0.191040
2002-08-30   -0.333337
2002-08-31   -0.289076
2002-09-01    0.628621
2002-09-02    0.661891
2002-09-03    2.081800
2002-09-04   -0.506436
2002-09-05   -0.040812
2002-09-06   -0.303313
2002-09-07    0.137815
2002-09-08   -2.018966
2002-09-09    0.910205
2002-09-10   -1.282468
2002-09-11    0.579691
2002-09-12   -1.587027
2002-09-13   -0.021050
2002-09-14    0.097763
2002-09-15   -1.000114
2002-09-16    0.149132
2002-09-17   -0.554378
2002-09-18    0.051099
2002-09-19    0.026258
2002-09-20    0.667622
2002-09-21    1.003335
2002-09-22   -0.323951
2002-09-23   -0.925666
2002-09-24    1.904732
2002-09-25   -0.528842
2002-09-26   -1.878072
Freq: D, Length: 1000, dtype: float64

In [24]:
longer_ts['2001']

2001-01-01   -0.073601
2001-01-02    0.202250
2001-01-03    0.161679
2001-01-04    0.575909
2001-01-05    0.772754
2001-01-06    0.018018
2001-01-07    0.316342
2001-01-08    1.448117
2001-01-09    1.314616
2001-01-10   -0.374414
2001-01-11   -0.247641
2001-01-12   -1.351926
2001-01-13   -0.052184
2001-01-14   -1.028497
2001-01-15    1.033495
2001-01-16   -0.176593
2001-01-17    0.156842
2001-01-18   -0.268901
2001-01-19   -0.959564
2001-01-20   -0.803984
2001-01-21   -1.244472
2001-01-22   -0.594890
2001-01-23   -0.881337
2001-01-24    0.675225
2001-01-25   -0.504772
2001-01-26    0.439241
2001-01-27   -0.093244
2001-01-28    0.973181
2001-01-29   -0.012870
2001-01-30   -0.548287
                ...
2001-12-02    0.297243
2001-12-03    1.939919
2001-12-04    0.970174
2001-12-05    0.911199
2001-12-06    0.673052
2001-12-07   -0.607218
2001-12-08    0.854220
2001-12-09    0.924601
2001-12-10    1.700670
2001-12-11   -0.115051
2001-12-12   -1.154663
2001-12-13   -2.317792
2001-12-14    0.519671
2001-12-15   -0.024387
2001-12-16   -1.189414
2001-12-17    0.652672
2001-12-18   -0.146541
2001-12-19   -0.764623
2001-12-20    1.998807
2001-12-21   -0.384492
2001-12-22    0.171985
2001-12-23    0.891874
2001-12-24    1.945832
2001-12-25   -1.121061
2001-12-26   -1.329701
2001-12-27   -0.532480
2001-12-28    1.360462
2001-12-29    0.791830
2001-12-30    0.369859
2001-12-31    0.074581
Freq: D, Length: 365, dtype: float64

In [29]:
longer_ts['30/12/2001']

0.36985894841514183

In [32]:
longer_ts['12/30/2001']

0.36985894841514183

In [33]:
# datetime 对象也可以进行切片

In [34]:
ts

2011-01-02   -0.189741
2011-01-05    0.682637
2011-01-07   -1.144032
2011-01-08   -0.793821
2011-01-10    2.343634
2011-01-12    1.990836
dtype: float64

In [36]:
ts[datetime(2011,1,5)]

0.6826374865964587

In [37]:
# 大部分的分拣序列数据都是按照时间先后顺序拍讯的，可以进行范围查询

In [38]:
ts

2011-01-02   -0.189741
2011-01-05    0.682637
2011-01-07   -1.144032
2011-01-08   -0.793821
2011-01-10    2.343634
2011-01-12    1.990836
dtype: float64

In [39]:
ts['2011-01-06','2011-01-11']

KeyError: ('2011-01-06', '2011-01-11')

In [40]:
ts

2011-01-02   -0.189741
2011-01-05    0.682637
2011-01-07   -1.144032
2011-01-08   -0.793821
2011-01-10    2.343634
2011-01-12    1.990836
dtype: float64

In [42]:
ts['2011/01/06':'2011/01/11']

2011-01-07   -1.144032
2011-01-08   -0.793821
2011-01-10    2.343634
dtype: float64

In [43]:
ts['2011-01-06':'2011-01-11']

2011-01-07   -1.144032
2011-01-08   -0.793821
2011-01-10    2.343634
dtype: float64

In [44]:
# 这些操作 DF 也有效，对 DF 的行进行索引

In [58]:
dates = pd.date_range('1/1/2000',periods=100,freq='W-WED')

In [55]:
dates

DatetimeIndex(['2000-01-05', '2000-01-12', '2000-01-19', '2000-01-26',
               '2000-02-02', '2000-02-09', '2000-02-16', '2000-02-23',
               '2000-03-01', '2000-03-08'],
              dtype='datetime64[ns]', freq='W-WED')

In [51]:
dates = pd.date_range('1/1/2000',periods=10,freq='5H')

In [56]:
dates

DatetimeIndex(['2000-01-05', '2000-01-12', '2000-01-19', '2000-01-26',
               '2000-02-02', '2000-02-09', '2000-02-16', '2000-02-23',
               '2000-03-01', '2000-03-08'],
              dtype='datetime64[ns]', freq='W-WED')

In [53]:
# periods 表示产生的时间数目， freq 表示时间步长

In [59]:
long_df = pd.DataFrame(np.random.randn(100,4),index=dates,columns=['CO','TE','Ne','OH'])

In [62]:
long_df.loc['5-2000']

                  CO        TE        Ne        OH
2000-05-03 -0.714622 -0.191642 -0.613246 -0.311989
2000-05-10 -0.416798 -0.245806  0.924388  0.111245
2000-05-17  1.223398 -0.308520  1.620201  1.026179
2000-05-24 -1.094530  0.812247 -0.180872  0.389361
2000-05-31  0.226865  1.476932  1.049760  1.006443

In [63]:
long_df

                  CO        TE        Ne        OH
2000-01-05 -0.917704 -0.100784 -0.252075  0.044490
2000-01-12  1.664229 -1.402963  1.027212  2.168800
2000-01-19  0.465687  1.155668  1.366624  0.213397
2000-01-26 -0.790209 -0.449916  0.784758  0.770006
2000-02-02  0.513710  0.957227  0.558107 -0.690163
2000-02-09 -0.698019 -1.973892 -1.244892  0.828904
2000-02-16  0.090677  0.506987 -0.290750  0.317660
2000-02-23  0.821583 -0.116449  0.887456 -0.421275
2000-03-01 -0.619925  2.305691  0.674313 -2.571033
2000-03-08 -1.726451  2.884684  0.833345  2.548415
2000-03-15  1.762980  1.286061  0.075064 -0.292121
2000-03-22 -0.742213 -0.769371 -0.304904 -1.242789
2000-03-29 -1.273267 -0.525799 -0.961528  2.481947
2000-04-05  0.512590  1.216336  0.789939  0.314939
2000-04-12  1.388818  1.776950  1.107278  1.590097
2000-04-19 -0.193339 -1.242224  0.678219 -0.366819
2000-04-26  1.581643  0.262805 -1.791215 -0.788159
2000-05-03 -0.714622 -0.191642 -0.613246 -0.311989
2000-05-10 -0.416798 -0.245806  0.924388  0.111245
2000-05-17  1.223398 -0.308520  1.620201  1.026179
2000-05-24 -1.094530  0.812247 -0.180872  0.389361
2000-05-31  0.226865  1.476932  1.049760  1.006443
2000-06-07  0.191303 -0.384347  1.052995  0.506470
2000-06-14 -2.530755  1.296882  0.626820 -0.011992
2000-06-21 -0.119434 -0.824945 -0.834149  0.318005
2000-06-28 -0.097833 -1.383962 -0.496054  0.723387
2000-07-05  1.093227  0.872564 -1.064018  1.270791
2000-07-12  0.067421 -1.107920  0.087872 -0.619610
2000-07-19  0.000264 -0.857387  0.491996 -0.854066
2000-07-26 -0.006976 -0.283108 -0.360830  0.243928
...              ...       ...       ...       ...
2001-05-09 -0.618377  1.025980 -1.086840  0.995215
2001-05-16  1.792497 -0.228434  0.812339 -1.282748
2001-05-23  0.104998 -0.218606  1.154976 -0.674459
2001-05-30  1.861448 -1.561106  2.307239  0.260772
2001-06-06 -0.282101  1.258383 -0.428128 -0.066402
2001-06-13 -0.285205 -0.561325  0.605286  0.871679
2001-06-20 -0.541183  0.184162  0.265349 -0.298877
2001-06-27 -1.250324  0.639362  0.275064  0.121177
2001-07-04 -0.137811 -0.573920  1.305331 -1.024993
2001-07-11  0.443629 -0.590627  0.336019  0.079558
2001-07-18 -0.010619  0.295887  0.873988 -1.686119
2001-07-25  1.493579 -1.388488 -0.370823  1.247195
2001-08-01  1.515247 -1.563350  0.514882 -0.510286
2001-08-08 -0.166681  0.405027 -0.122785  1.601254
2001-08-15  0.530128  1.928566  0.823564 -0.559747
2001-08-22  0.015180 -0.481191 -0.985518  0.416071
2001-08-29  0.288035 -1.260394 -1.222544  0.279210
2001-09-05 -1.463312  0.953126 -0.576299 -1.708449
2001-09-12 -0.973687  0.340756  0.725115 -2.155896
2001-09-19 -2.402525 -1.328549 -0.687503 -0.710713
2001-09-26  1.374645  0.057762  0.347798  1.087297
2001-10-03 -0.960811  0.955044 -1.404356 -1.812123
2001-10-10  0.215408  0.358923  0.947049  1.120542
2001-10-17  0.124829  0.349578  0.233220 -0.476935
2001-10-24 -0.363971 -1.017970 -1.843812 -1.020300
2001-10-31 -0.864340  0.985691 -1.172961 -2.685408
2001-11-07 -0.032114 -0.158968 -0.106743 -1.989857
2001-11-14  2.628352  0.207099  0.941973 -0.215745
2001-11-21 -0.237073  0.858968 -1.964052  0.716131
2001-11-28 -0.743873 -0.005791  0.189343 -2.016014

[100 rows x 4 columns]

In [64]:
# 带有重复索引的时间序列

In [65]:
# 有时候，可能会存在多个观测数据落在同一个时间点上的情况

In [69]:
dates = pd.DatetimeIndex(['1/1/2000','1/2/2000','1/2/2000','1/2/2000','1/3/2000'])

In [70]:
dup_ts = pd.Series(np.arange(5),index=dates)

In [71]:
dup_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int32

In [72]:
# 通过检查索引的is_unique属性，我们就可以知道它是不是唯一的

In [73]:
dup_ts.index.is_unique

False

In [74]:
dup_ts['1/3/2000']

4

In [75]:
dup_ts['1/2/2000']

2000-01-02    1
2000-01-02    2
2000-01-02    3
dtype: int32

In [76]:
dup_ts.mean()

2.0

In [77]:
# 假设要对具有唯一时间搓的数据进行聚合，可以使用 groupby 传入level = 0

In [78]:
groupby = dup_ts.groupby(level=0)

In [79]:
groupby.mean()

2000-01-01    0
2000-01-02    2
2000-01-03    4
dtype: int32

In [80]:
groupby.count()

2000-01-01    1
2000-01-02    3
2000-01-03    1
dtype: int64

In [81]:
# 日期的范围、频率以及移动

In [84]:
parse('Jan 29 , 1998, 10:45 PM')

datetime.datetime(1998, 1, 29, 22, 45)

In [83]:
from dateutil.parser import parse

In [85]:
ts

2011-01-02   -0.189741
2011-01-05    0.682637
2011-01-07   -1.144032
2011-01-08   -0.793821
2011-01-10    2.343634
2011-01-12    1.990836
dtype: float64

In [86]:
# ts 没有固定的时间频率。 1月2号 1月5号 1月7号 1月8号

In [87]:
# 使用 resample 可以将其转化为一个具有固定频率的时间序列

In [88]:
resampler = ts.resample('D')

In [89]:
resampler

DatetimeIndexResampler [freq=<Day>, axis=0, closed=left, label=left, convention=start, base=0]

In [90]:
# 生成时间范围，pandas.date_range 可用于根据指定频率生成指定长度的 DatetimeIndex

In [91]:
index = pd.date_range('2012-04-01','2012-06-01')

In [92]:
index

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [93]:
# 默认 date_range 会产生按天计算时间点，如果只传入起始时间或者结束时间，还得传入一个表示一段时间的数字

In [94]:
pd.date_range(start = '2012-04-04',periods=10)

DatetimeIndex(['2012-04-04', '2012-04-05', '2012-04-06', '2012-04-07',
               '2012-04-08', '2012-04-09', '2012-04-10', '2012-04-11',
               '2012-04-12', '2012-04-13'],
              dtype='datetime64[ns]', freq='D')

In [95]:
pd.date_range(end = '2012-04-13',periods=10)

DatetimeIndex(['2012-04-04', '2012-04-05', '2012-04-06', '2012-04-07',
               '2012-04-08', '2012-04-09', '2012-04-10', '2012-04-11',
               '2012-04-12', '2012-04-13'],
              dtype='datetime64[ns]', freq='D')

In [96]:
pd.date_range(end = '2012-04-13',periods=10,freq='BM')

DatetimeIndex(['2011-06-30', '2011-07-29', '2011-08-31', '2011-09-30',
               '2011-10-31', '2011-11-30', '2011-12-30', '2012-01-31',
               '2012-02-29', '2012-03-30'],
              dtype='datetime64[ns]', freq='BM')

In [97]:
pd.date_range(end = '2012-04-13',periods=10,freq='M')

DatetimeIndex(['2011-06-30', '2011-07-31', '2011-08-31', '2011-09-30',
               '2011-10-31', '2011-11-30', '2011-12-31', '2012-01-31',
               '2012-02-29', '2012-03-31'],
              dtype='datetime64[ns]', freq='M')

In [98]:
# 频率和日期偏移量

In [100]:
# 一般在基础频率前面放上一个整数即可创建倍数  4H  4h

In [102]:
pd.date_range('2000-01-01','2000-01-03 23:59',freq='4H')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 04:00:00',
               '2000-01-01 08:00:00', '2000-01-01 12:00:00',
               '2000-01-01 16:00:00', '2000-01-01 20:00:00',
               '2000-01-02 00:00:00', '2000-01-02 04:00:00',
               '2000-01-02 08:00:00', '2000-01-02 12:00:00',
               '2000-01-02 16:00:00', '2000-01-02 20:00:00',
               '2000-01-03 00:00:00', '2000-01-03 04:00:00',
               '2000-01-03 08:00:00', '2000-01-03 12:00:00',
               '2000-01-03 16:00:00', '2000-01-03 20:00:00'],
              dtype='datetime64[ns]', freq='4H')

In [103]:
pd.date_range('2000-01-01','2000-01-03 23:59',freq='4h')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 04:00:00',
               '2000-01-01 08:00:00', '2000-01-01 12:00:00',
               '2000-01-01 16:00:00', '2000-01-01 20:00:00',
               '2000-01-02 00:00:00', '2000-01-02 04:00:00',
               '2000-01-02 08:00:00', '2000-01-02 12:00:00',
               '2000-01-02 16:00:00', '2000-01-02 20:00:00',
               '2000-01-03 00:00:00', '2000-01-03 04:00:00',
               '2000-01-03 08:00:00', '2000-01-03 12:00:00',
               '2000-01-03 16:00:00', '2000-01-03 20:00:00'],
              dtype='datetime64[ns]', freq='4H')

In [104]:
# 大部分偏移对象可以通过加法进行连接

In [105]:
Hour(2)

NameError: name 'Hour' is not defined

In [106]:
# 也可以传入频率字符串（‘2h30min’）

In [108]:
# 日期   WOM 是一种非常实用的频率类，以WOW开头，   可以获得比如“每个月第三个星期五”之类的日期

In [109]:
rng = pd.date_range('2012-01-01','2012-09-01',freq = 'WOM-3FRI')

In [110]:
list(rng)

[Timestamp('2012-01-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-02-17 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-03-16 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-04-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-05-18 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-06-15 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-07-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-08-17 00:00:00', freq='WOM-3FRI')]

In [111]:
rng

DatetimeIndex(['2012-01-20', '2012-02-17', '2012-03-16', '2012-04-20',
               '2012-05-18', '2012-06-15', '2012-07-20', '2012-08-17'],
              dtype='datetime64[ns]', freq='WOM-3FRI')

In [112]:
# 移动（超前和滞后）数据

In [113]:
# 移动是指沿时间轴将数据前移或后移，Series和DF都有一个shift方法用于执行单纯的前移或后移操作，保持索引不动

In [114]:
ts = pd.Series(np.random.randn(4),index = pd.date_range('1/1/2000',periods=4,freq = 'M'))

In [115]:
ts

2000-01-31   -0.398788
2000-02-29   -0.873242
2000-03-31    0.525623
2000-04-30    0.797132
Freq: M, dtype: float64

In [116]:
ts.shift(2)

2000-01-31         NaN
2000-02-29         NaN
2000-03-31   -0.398788
2000-04-30   -0.873242
Freq: M, dtype: float64

In [117]:
ts.shift(-2)

2000-01-31    0.525623
2000-02-29    0.797132
2000-03-31         NaN
2000-04-30         NaN
Freq: M, dtype: float64

In [118]:
ts

2000-01-31   -0.398788
2000-02-29   -0.873242
2000-03-31    0.525623
2000-04-30    0.797132
Freq: M, dtype: float64

In [119]:
ts.shift(-2,freq = 'M')

1999-11-30   -0.398788
1999-12-31   -0.873242
2000-01-31    0.525623
2000-02-29    0.797132
Freq: M, dtype: float64

In [122]:
ts.shift(2,freq = 'D')

2000-02-02   -0.398788
2000-03-02   -0.873242
2000-04-02    0.525623
2000-05-02    0.797132
dtype: float64

In [121]:
ts

2000-01-31   -0.398788
2000-02-29   -0.873242
2000-03-31    0.525623
2000-04-30    0.797132
Freq: M, dtype: float64

In [123]:
# 时区处理

In [124]:
# python中，市区信息来自于 pytz库找那个

In [125]:
import pytz

In [126]:
pytz.common_timezones[-5:]

['US/Eastern', 'US/Hawaii', 'US/Mountain', 'US/Pacific', 'UTC']

In [127]:
pytz.common_timezones

['Africa/Abidjan',
 'Africa/Accra',
 'Africa/Addis_Ababa',
 'Africa/Algiers',
 'Africa/Asmara',
 'Africa/Bamako',
 'Africa/Bangui',
 'Africa/Banjul',
 'Africa/Bissau',
 'Africa/Blantyre',
 'Africa/Brazzaville',
 'Africa/Bujumbura',
 'Africa/Cairo',
 'Africa/Casablanca',
 'Africa/Ceuta',
 'Africa/Conakry',
 'Africa/Dakar',
 'Africa/Dar_es_Salaam',
 'Africa/Djibouti',
 'Africa/Douala',
 'Africa/El_Aaiun',
 'Africa/Freetown',
 'Africa/Gaborone',
 'Africa/Harare',
 'Africa/Johannesburg',
 'Africa/Juba',
 'Africa/Kampala',
 'Africa/Khartoum',
 'Africa/Kigali',
 'Africa/Kinshasa',
 'Africa/Lagos',
 'Africa/Libreville',
 'Africa/Lome',
 'Africa/Luanda',
 'Africa/Lubumbashi',
 'Africa/Lusaka',
 'Africa/Malabo',
 'Africa/Maputo',
 'Africa/Maseru',
 'Africa/Mbabane',
 'Africa/Mogadishu',
 'Africa/Monrovia',
 'Africa/Nairobi',
 'Africa/Ndjamena',
 'Africa/Niamey',
 'Africa/Nouakchott',
 'Africa/Ouagadougou',
 'Africa/Porto-Novo',
 'Africa/Sao_Tome',
 'Africa/Tripoli',
 'Africa/Tunis',
 'Africa/Windhoek',
 'America/Adak',
 'America/Anchorage',
 'America/Anguilla',
 'America/Antigua',
 'America/Araguaina',
 'America/Argentina/Buenos_Aires',
 'America/Argentina/Catamarca',
 'America/Argentina/Cordoba',
 'America/Argentina/Jujuy',
 'America/Argentina/La_Rioja',
 'America/Argentina/Mendoza',
 'America/Argentina/Rio_Gallegos',
 'America/Argentina/Salta',
 'America/Argentina/San_Juan',
 'America/Argentina/San_Luis',
 'America/Argentina/Tucuman',
 'America/Argentina/Ushuaia',
 'America/Aruba',
 'America/Asuncion',
 'America/Atikokan',
 'America/Bahia',
 'America/Bahia_Banderas',
 'America/Barbados',
 'America/Belem',
 'America/Belize',
 'America/Blanc-Sablon',
 'America/Boa_Vista',
 'America/Bogota',
 'America/Boise',
 'America/Cambridge_Bay',
 'America/Campo_Grande',
 'America/Cancun',
 'America/Caracas',
 'America/Cayenne',
 'America/Cayman',
 'America/Chicago',
 'America/Chihuahua',
 'America/Costa_Rica',
 'America/Creston',
 'America/Cuiaba',
 'America/Curacao',
 'America/Danmarkshavn',
 'America/Dawson',
 'America/Dawson_Creek',
 'America/Denver',
 'America/Detroit',
 'America/Dominica',
 'America/Edmonton',
 'America/Eirunepe',
 'America/El_Salvador',
 'America/Fort_Nelson',
 'America/Fortaleza',
 'America/Glace_Bay',
 'America/Godthab',
 'America/Goose_Bay',
 'America/Grand_Turk',
 'America/Grenada',
 'America/Guadeloupe',
 'America/Guatemala',
 'America/Guayaquil',
 'America/Guyana',
 'America/Halifax',
 'America/Havana',
 'America/Hermosillo',
 'America/Indiana/Indianapolis',
 'America/Indiana/Knox',
 'America/Indiana/Marengo',
 'America/Indiana/Petersburg',
 'America/Indiana/Tell_City',
 'America/Indiana/Vevay',
 'America/Indiana/Vincennes',
 'America/Indiana/Winamac',
 'America/Inuvik',
 'America/Iqaluit',
 'America/Jamaica',
 'America/Juneau',
 'America/Kentucky/Louisville',
 'America/Kentucky/Monticello',
 'America/Kralendijk',
 'America/La_Paz',
 'America/Lima',
 'America/Los_Angeles',
 'America/Lower_Princes',
 'America/Maceio',
 'America/Managua',
 'America/Manaus',
 'America/Marigot',
 'America/Martinique',
 'America/Matamoros',
 'America/Mazatlan',
 'America/Menominee',
 'America/Merida',
 'America/Metlakatla',
 'America/Mexico_City',
 'America/Miquelon',
 'America/Moncton',
 'America/Monterrey',
 'America/Montevideo',
 'America/Montserrat',
 'America/Nassau',
 'America/New_York',
 'America/Nipigon',
 'America/Nome',
 'America/Noronha',
 'America/North_Dakota/Beulah',
 'America/North_Dakota/Center',
 'America/North_Dakota/New_Salem',
 'America/Ojinaga',
 'America/Panama',
 'America/Pangnirtung',
 'America/Paramaribo',
 'America/Phoenix',
 'America/Port-au-Prince',
 'America/Port_of_Spain',
 'America/Porto_Velho',
 'America/Puerto_Rico',
 'America/Punta_Arenas',
 'America/Rainy_River',
 'America/Rankin_Inlet',
 'America/Recife',
 'America/Regina',
 'America/Resolute',
 'America/Rio_Branco',
 'America/Santarem',
 'America/Santiago',
 'America/Santo_Domingo',
 'America/Sao_Paulo',
 'America/Scoresbysund',
 'America/Sitka',
 'America/St_Barthelemy',
 'America/St_Johns',
 'America/St_Kitts',
 'America/St_Lucia',
 'America/St_Thomas',
 'America/St_Vincent',
 'America/Swift_Current',
 'America/Tegucigalpa',
 'America/Thule',
 'America/Thunder_Bay',
 'America/Tijuana',
 'America/Toronto',
 'America/Tortola',
 'America/Vancouver',
 'America/Whitehorse',
 'America/Winnipeg',
 'America/Yakutat',
 'America/Yellowknife',
 'Antarctica/Casey',
 'Antarctica/Davis',
 'Antarctica/DumontDUrville',
 'Antarctica/Macquarie',
 'Antarctica/Mawson',
 'Antarctica/McMurdo',
 'Antarctica/Palmer',
 'Antarctica/Rothera',
 'Antarctica/Syowa',
 'Antarctica/Troll',
 'Antarctica/Vostok',
 'Arctic/Longyearbyen',
 'Asia/Aden',
 'Asia/Almaty',
 'Asia/Amman',
 'Asia/Anadyr',
 'Asia/Aqtau',
 'Asia/Aqtobe',
 'Asia/Ashgabat',
 'Asia/Atyrau',
 'Asia/Baghdad',
 'Asia/Bahrain',
 'Asia/Baku',
 'Asia/Bangkok',
 'Asia/Barnaul',
 'Asia/Beirut',
 'Asia/Bishkek',
 'Asia/Brunei',
 'Asia/Chita',
 'Asia/Choibalsan',
 'Asia/Colombo',
 'Asia/Damascus',
 'Asia/Dhaka',
 'Asia/Dili',
 'Asia/Dubai',
 'Asia/Dushanbe',
 'Asia/Famagusta',
 'Asia/Gaza',
 'Asia/Hebron',
 'Asia/Ho_Chi_Minh',
 'Asia/Hong_Kong',
 'Asia/Hovd',
 'Asia/Irkutsk',
 'Asia/Jakarta',
 'Asia/Jayapura',
 'Asia/Jerusalem',
 'Asia/Kabul',
 'Asia/Kamchatka',
 'Asia/Karachi',
 'Asia/Kathmandu',
 'Asia/Khandyga',
 'Asia/Kolkata',
 'Asia/Krasnoyarsk',
 'Asia/Kuala_Lumpur',
 'Asia/Kuching',
 'Asia/Kuwait',
 'Asia/Macau',
 'Asia/Magadan',
 'Asia/Makassar',
 'Asia/Manila',
 'Asia/Muscat',
 'Asia/Nicosia',
 'Asia/Novokuznetsk',
 'Asia/Novosibirsk',
 'Asia/Omsk',
 'Asia/Oral',
 'Asia/Phnom_Penh',
 'Asia/Pontianak',
 'Asia/Pyongyang',
 'Asia/Qatar',
 'Asia/Qyzylorda',
 'Asia/Riyadh',
 'Asia/Sakhalin',
 'Asia/Samarkand',
 'Asia/Seoul',
 'Asia/Shanghai',
 'Asia/Singapore',
 'Asia/Srednekolymsk',
 'Asia/Taipei',
 'Asia/Tashkent',
 'Asia/Tbilisi',
 'Asia/Tehran',
 'Asia/Thimphu',
 'Asia/Tokyo',
 'Asia/Tomsk',
 'Asia/Ulaanbaatar',
 'Asia/Urumqi',
 'Asia/Ust-Nera',
 'Asia/Vientiane',
 'Asia/Vladivostok',
 'Asia/Yakutsk',
 'Asia/Yangon',
 'Asia/Yekaterinburg',
 'Asia/Yerevan',
 'Atlantic/Azores',
 'Atlantic/Bermuda',
 'Atlantic/Canary',
 'Atlantic/Cape_Verde',
 'Atlantic/Faroe',
 'Atlantic/Madeira',
 'Atlantic/Reykjavik',
 'Atlantic/South_Georgia',
 'Atlantic/St_Helena',
 'Atlantic/Stanley',
 'Australia/Adelaide',
 'Australia/Brisbane',
 'Australia/Broken_Hill',
 'Australia/Currie',
 'Australia/Darwin',
 'Australia/Eucla',
 'Australia/Hobart',
 'Australia/Lindeman',
 'Australia/Lord_Howe',
 'Australia/Melbourne',
 'Australia/Perth',
 'Australia/Sydney',
 'Canada/Atlantic',
 'Canada/Central',
 'Canada/Eastern',
 'Canada/Mountain',
 'Canada/Newfoundland',
 'Canada/Pacific',
 'Europe/Amsterdam',
 'Europe/Andorra',
 'Europe/Astrakhan',
 'Europe/Athens',
 'Europe/Belgrade',
 'Europe/Berlin',
 'Europe/Bratislava',
 'Europe/Brussels',
 'Europe/Bucharest',
 'Europe/Budapest',
 'Europe/Busingen',
 'Europe/Chisinau',
 'Europe/Copenhagen',
 'Europe/Dublin',
 'Europe/Gibraltar',
 'Europe/Guernsey',
 'Europe/Helsinki',
 'Europe/Isle_of_Man',
 'Europe/Istanbul',
 'Europe/Jersey',
 'Europe/Kaliningrad',
 'Europe/Kiev',
 'Europe/Kirov',
 'Europe/Lisbon',
 'Europe/Ljubljana',
 'Europe/London',
 'Europe/Luxembourg',
 'Europe/Madrid',
 'Europe/Malta',
 'Europe/Mariehamn',
 'Europe/Minsk',
 'Europe/Monaco',
 'Europe/Moscow',
 'Europe/Oslo',
 'Europe/Paris',
 'Europe/Podgorica',
 'Europe/Prague',
 'Europe/Riga',
 'Europe/Rome',
 'Europe/Samara',
 'Europe/San_Marino',
 'Europe/Sarajevo',
 'Europe/Saratov',
 'Europe/Simferopol',
 'Europe/Skopje',
 'Europe/Sofia',
 'Europe/Stockholm',
 'Europe/Tallinn',
 'Europe/Tirane',
 'Europe/Ulyanovsk',
 'Europe/Uzhgorod',
 'Europe/Vaduz',
 'Europe/Vatican',
 'Europe/Vienna',
 'Europe/Vilnius',
 'Europe/Volgograd',
 'Europe/Warsaw',
 'Europe/Zagreb',
 'Europe/Zaporozhye',
 'Europe/Zurich',
 'GMT',
 'Indian/Antananarivo',
 'Indian/Chagos',
 'Indian/Christmas',
 'Indian/Cocos',
 'Indian/Comoro',
 'Indian/Kerguelen',
 'Indian/Mahe',
 'Indian/Maldives',
 'Indian/Mauritius',
 'Indian/Mayotte',
 'Indian/Reunion',
 'Pacific/Apia',
 'Pacific/Auckland',
 'Pacific/Bougainville',
 'Pacific/Chatham',
 'Pacific/Chuuk',
 'Pacific/Easter',
 'Pacific/Efate',
 'Pacific/Enderbury',
 'Pacific/Fakaofo',
 'Pacific/Fiji',
 'Pacific/Funafuti',
 'Pacific/Galapagos',
 'Pacific/Gambier',
 'Pacific/Guadalcanal',
 'Pacific/Guam',
 'Pacific/Honolulu',
 'Pacific/Kiritimati',
 'Pacific/Kosrae',
 'Pacific/Kwajalein',
 'Pacific/Majuro',
 'Pacific/Marquesas',
 'Pacific/Midway',
 'Pacific/Nauru',
 'Pacific/Niue',
 'Pacific/Norfolk',
 'Pacific/Noumea',
 'Pacific/Pago_Pago',
 'Pacific/Palau',
 'Pacific/Pitcairn',
 'Pacific/Pohnpei',
 'Pacific/Port_Moresby',
 'Pacific/Rarotonga',
 'Pacific/Saipan',
 'Pacific/Tahiti',
 'Pacific/Tarawa',
 'Pacific/Tongatapu',
 'Pacific/Wake',
 'Pacific/Wallis',
 'US/Alaska',
 'US/Arizona',
 'US/Central',
 'US/Eastern',
 'US/Hawaii',
 'US/Mountain',
 'US/Pacific',
 'UTC']

In [128]:
tz = pytz.timezone('America/New_York')

In [129]:
tz

In [5]:
rng = pd.date_range('2000-01-01',periods=100,freq = 'D')

In [8]:
rng

DatetimeIndex(['2000-01-01', '2000-01-02', '2000-01-03', '2000-01-04',
               '2000-01-05', '2000-01-06', '2000-01-07', '2000-01-08',
               '2000-01-09', '2000-01-10', '2000-01-11', '2000-01-12',
               '2000-01-13', '2000-01-14', '2000-01-15', '2000-01-16',
               '2000-01-17', '2000-01-18', '2000-01-19', '2000-01-20',
               '2000-01-21', '2000-01-22', '2000-01-23', '2000-01-24',
               '2000-01-25', '2000-01-26', '2000-01-27', '2000-01-28',
               '2000-01-29', '2000-01-30', '2000-01-31', '2000-02-01',
               '2000-02-02', '2000-02-03', '2000-02-04', '2000-02-05',
               '2000-02-06', '2000-02-07', '2000-02-08', '2000-02-09',
               '2000-02-10', '2000-02-11', '2000-02-12', '2000-02-13',
               '2000-02-14', '2000-02-15', '2000-02-16', '2000-02-17',
               '2000-02-18', '2000-02-19', '2000-02-20', '2000-02-21',
               '2000-02-22', '2000-02-23', '2000-02-24', '2000-02-25',
               '2000-02-26', '2000-02-27', '2000-02-28', '2000-02-29',
               '2000-03-01', '2000-03-02', '2000-03-03', '2000-03-04',
               '2000-03-05', '2000-03-06', '2000-03-07', '2000-03-08',
               '2000-03-09', '2000-03-10', '2000-03-11', '2000-03-12',
               '2000-03-13', '2000-03-14', '2000-03-15', '2000-03-16',
               '2000-03-17', '2000-03-18', '2000-03-19', '2000-03-20',
               '2000-03-21', '2000-03-22', '2000-03-23', '2000-03-24',
               '2000-03-25', '2000-03-26', '2000-03-27', '2000-03-28',
               '2000-03-29', '2000-03-30', '2000-03-31', '2000-04-01',
               '2000-04-02', '2000-04-03', '2000-04-04', '2000-04-05',
               '2000-04-06', '2000-04-07', '2000-04-08', '2000-04-09'],
              dtype='datetime64[ns]', freq='D')

In [9]:
ts = pd.Series(np.random.randn(len(rng)),index=rng)

In [10]:
ts

2000-01-01    0.720283
2000-01-02    0.199212
2000-01-03   -1.190612
2000-01-04   -1.955044
2000-01-05    0.128715
2000-01-06    0.397760
2000-01-07   -0.181867
2000-01-08   -0.924845
2000-01-09   -1.226586
2000-01-10   -0.439436
2000-01-11   -0.928957
2000-01-12   -0.995331
2000-01-13   -0.904747
2000-01-14   -0.211407
2000-01-15    0.452116
2000-01-16   -0.547692
2000-01-17   -0.037453
2000-01-18    0.584349
2000-01-19    1.371572
2000-01-20    0.062740
2000-01-21   -2.317886
2000-01-22    1.527699
2000-01-23    0.214435
2000-01-24   -0.468563
2000-01-25    0.397808
2000-01-26    0.335243
2000-01-27    0.921281
2000-01-28    0.725202
2000-01-29    0.043784
2000-01-30   -1.114913
                ...
2000-03-11   -0.191390
2000-03-12   -1.833145
2000-03-13   -0.803762
2000-03-14    1.577554
2000-03-15    0.665536
2000-03-16    0.099221
2000-03-17    0.289081
2000-03-18   -0.044073
2000-03-19    1.736852
2000-03-20    0.840300
2000-03-21   -0.144312
2000-03-22    0.583452
2000-03-23   -2.568070
2000-03-24   -0.978035
2000-03-25   -1.752478
2000-03-26   -0.344537
2000-03-27   -0.444448
2000-03-28   -0.413604
2000-03-29   -0.228016
2000-03-30   -0.880149
2000-03-31    0.606088
2000-04-01    1.408120
2000-04-02    0.034342
2000-04-03   -1.014247
2000-04-04    0.490084
2000-04-05   -0.716025
2000-04-06   -1.258397
2000-04-07   -0.379411
2000-04-08    0.268695
2000-04-09   -1.044909
Freq: D, Length: 100, dtype: float64

In [11]:
ts.resample('M').mean()

2000-01-31   -0.158683
2000-02-29    0.189924
2000-03-31   -0.195997
2000-04-30   -0.245750
Freq: M, dtype: float64

In [12]:
ts.resample('M',kind='period').mean()

2000-01   -0.158683
2000-02    0.189924
2000-03   -0.195997
2000-04   -0.245750
Freq: M, dtype: float64