In [126]:
# 第6章，数据加载、存储与文件格式

In [127]:
# 通过 index_col 参数指定 index

In [128]:
# pd.read_csc('***', names = names ,index_col = index)

In [129]:
# read_csv 常用参数

In [130]:
# path :路径

In [131]:
# sep 或delimiter  拆分文件的正则表达式

In [132]:
index_col 用作行索引的列编号或者列名

SyntaxError: invalid syntax (<ipython-input-132-469fbc9cc732>, line 1)

In [133]:
#index_col 用作行索引的列编号或者列名

In [134]:
# na_values 用于替换NA的值

In [136]:
#逐行读取数据   pd.read_csv('''''''   nrow = 5)

In [137]:
# 逐块读取数据， pd.read_csv(////  ,chunksize = 1000)

In [138]:
# chunker = pd.read_csv('path', chunksize = 1000)

In [139]:
#chunker 位 TextParser 对象，可以根据chunksize对文件进行逐块迭代

In [140]:
# 例子：

In [141]:
# chunker = pd.read_csv('path', chunksize = 1000)

In [142]:
#tot = pd.Series([])

In [144]:
# for piece in chunker:
#     tot  = tot.add(piece['key'].value_count(),fill_Value = 0)
# tot = tot.sort_values(ascending = Flase)

In [145]:
# 利用 DataFrame 的 to_csv 方法， 我们可以将数据写入一个以逗号分隔的文件中

In [146]:
import pandas as pd

In [147]:
import numpy as np

In [148]:
data = pd.DataFrame(np.arange(12).reshape((4,3)),index = ['a','c','b','d'],columns=['one','two','three'])

In [149]:
data

   one  two  three
a    0    1      2
c    3    4      5
b    6    7      8
d    9   10     11

In [150]:
data.to_csv('./out.csv')

In [151]:
data1 = pd.read_csv('./out.csv')

In [152]:
data1

  Unnamed: 0  one  two  three
0          a    0    1      2
1          c    3    4      5
2          b    6    7      8
3          d    9   10     11

In [153]:
data1 = pd.read_csv('./out.csv',nrow = 2)

TypeError: parser_f() got an unexpected keyword argument 'nrow'

In [154]:
data1 = pd.read_csv('./out.csv',nrows = 2)

In [155]:
data1

  Unnamed: 0  one  two  three
0          a    0    1      2
1          c    3    4      5

In [156]:
data1 = pd.read_csv('./out.csv',ncolumns = 2)

TypeError: parser_f() got an unexpected keyword argument 'ncolumns'

In [157]:
data1 = pd.read_csv('./out.csv',index_col='three')

In [158]:
data1

      Unnamed: 0  one  two
three
2              a    0    1
5              c    3    4
8              b    6    7
11             d    9   10

In [159]:
data

   one  two  three
a    0    1      2
c    3    4      5
b    6    7      8
d    9   10     11

In [160]:
import sys

In [161]:
data.to_csv(sys.stdout, sep = '|')

|one|two|three
a|0|1|2
c|3|4|5
b|6|7|8
d|9|10|11

In [162]:
data2 = data

In [163]:
data2

   one  two  three
a    0    1      2
c    3    4      5
b    6    7      8
d    9   10     11

In [164]:
data2.to_csv(sys.stdout,sep = '\')

SyntaxError: EOL while scanning string literal (<ipython-input-164-cec2a3a80fe9>, line 1)

In [165]:
data2.to_csv(sys.stdout,sep = '/')

/one/two/three
a/0/1/2
c/3/4/5
b/6/7/8
d/9/10/11

In [166]:
# 这个stdout 就是输出的意思，不存储

In [167]:
#通过设置index 和 header 可以设置是否输出行和列的标签

In [168]:
data2.to_csv(sys.stdout,index=False,columns=False)

TypeError: 'bool' object is not iterable

In [169]:
data2.to_csv(sys.stdout,index=False,heder=False)

TypeError: to_csv() got an unexpected keyword argument 'heder'

In [170]:
data2.to_csv(sys.stdout,index=False,header=False)

0,1,2
3,4,5
6,7,8
9,10,11

In [171]:
# 输出部分行和列

In [172]:
data2.to_csv(sys.stdout,index= False,header = 'two')

one,two,three
0,1,2
3,4,5
6,7,8
9,10,11

In [173]:
data2.to_csv(sys.stdout,index= False,columns = 'two')

KeyError: "None of [['t', 'w', 'o']] are in the [columns]"

In [174]:
data2.to_csv(sys.stdout,index= False,header = ['two'])

ValueError: Writing 3 cols but got 1 aliases

In [175]:
data2.to_csv(sys.stdout,index= False,columns = ['two'])

two
1
4
7
10

In [176]:
# 二进制数据形式

In [177]:
# pandas 对象都有一个用于将数据以 pickle 格式保存到磁盘上的 to_pickle 方法