In [1]:
# 第八章

In [2]:
# 层次化索引

In [3]:
# 层次化索引是 pandas 的一项重要功能，能使你在一个轴上拥有多个（两个以上）的索引级别

In [4]:
# 抽象点说，能使你以低纬度形式处理高纬度数据

In [5]:
import pandas as pd

In [6]:
import numpy as np

In [7]:
data = pd.Series(np.random.randn(9),index = [['a','a','a','b','b','c','c','d','d'],[1,2,3,13,1,2,2,3]])

ValueError: all arrays must be same length

In [8]:
data = pd.Series(np.random.randn(9),index = [['a','a','a','b','b','c','c','d','d'],[1,2,3,1,3,1,2,2,3]])

In [9]:
daa

NameError: name 'daa' is not defined

In [10]:
data

a  1   -1.927409
   2    0.477130
   3   -0.007094
b  1   -0.523866
   3   -0.707498
c  1   -1.826108
   2    0.194688
d  2   -0.490726
   3   -0.489497
dtype: float64

In [11]:
data.index

MultiIndex(levels=[['a', 'b', 'c', 'd'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 2, 2, 3, 3], [0, 1, 2, 0, 2, 0, 1, 1, 2]])

In [12]:
data = pd.Series(np.random.randn(9),index = [['a','b','a','b','b','c','c','d','d'],[1,2,3,1,3,1,2,2,3]])

In [13]:
data

a  1    0.130762
b  2    0.758229
a  3    0.699368
b  1   -0.015007
   3    1.315499
c  1    0.058279
   2   -0.655745
d  2    0.725952
   3   -0.111532
dtype: float64

In [14]:
data.index

MultiIndex(levels=[['a', 'b', 'c', 'd'], [1, 2, 3]],
           labels=[[0, 1, 0, 1, 1, 2, 2, 3, 3], [0, 1, 2, 0, 2, 0, 1, 1, 2]])

In [15]:
data = pd.Series(np.random.randn(9),index = [['a','a','a','b','b','c','c','d','d'],[1,2,3,1,3,1,2,2,3]])

In [16]:
# 部分索引

In [17]:
data['b']

1   -1.203831
3   -1.081861
dtype: float64

In [18]:
data

a  1    0.019782
   2    0.730216
   3    0.199825
b  1   -1.203831
   3   -1.081861
c  1   -1.490544
   2    1.268579
d  2    0.078732
   3   -0.187180
dtype: float64

In [19]:
data[a:b]

NameError: name 'a' is not defined

In [20]:
data['a':'b']

a  1    0.019782
   2    0.730216
   3    0.199825
b  1   -1.203831
   3   -1.081861
dtype: float64

In [21]:
data.loc[['b','c']]

b  1   -1.203831
   3   -1.081861
c  1   -1.490544
   2    1.268579
dtype: float64

In [22]:
data

a  1    0.019782
   2    0.730216
   3    0.199825
b  1   -1.203831
   3   -1.081861
c  1   -1.490544
   2    1.268579
d  2    0.078732
   3   -0.187180
dtype: float64

In [23]:
data.loc[:2]

TypeError: Level type mismatch: 2

In [24]:
data.loc[:,2]

a    0.730216
c    1.268579
d    0.078732
dtype: float64

In [25]:
data

a  1    0.019782
   2    0.730216
   3    0.199825
b  1   -1.203831
   3   -1.081861
c  1   -1.490544
   2    1.268579
d  2    0.078732
   3   -0.187180
dtype: float64

In [26]:
data

a  1    0.019782
   2    0.730216
   3    0.199825
b  1   -1.203831
   3   -1.081861
c  1   -1.490544
   2    1.268579
d  2    0.078732
   3   -0.187180
dtype: float64

In [27]:
data.unstack()

          1         2         3
a  0.019782  0.730216  0.199825
b -1.203831       NaN -1.081861
c -1.490544  1.268579       NaN
d       NaN  0.078732 -0.187180

In [28]:
# 可以使用 unstack 方法将这段数据重新安排到一个 DF

In [29]:
# unstack 的逆运算就是 stack

In [30]:
data.unstack().stack()

a  1    0.019782
   2    0.730216
   3    0.199825
b  1   -1.203831
   3   -1.081861
c  1   -1.490544
   2    1.268579
d  2    0.078732
   3   -0.187180
dtype: float64

In [31]:
data

a  1    0.019782
   2    0.730216
   3    0.199825
b  1   -1.203831
   3   -1.081861
c  1   -1.490544
   2    1.268579
d  2    0.078732
   3   -0.187180
dtype: float64

In [32]:
data.unstack()

          1         2         3
a  0.019782  0.730216  0.199825
b -1.203831       NaN -1.081861
c -1.490544  1.268579       NaN
d       NaN  0.078732 -0.187180

In [33]:
data

a  1    0.019782
   2    0.730216
   3    0.199825
b  1   -1.203831
   3   -1.081861
c  1   -1.490544
   2    1.268579
d  2    0.078732
   3   -0.187180
dtype: float64

In [34]:
fm = pd.DataFrame(np.arange(12).reshape((4,3)),index = [['a','a','b','b'],[1,2,1,2]],columns=[['A','B','C'],['Green','Red','Black'])

SyntaxError: invalid syntax (<ipython-input-34-d489604ccc29>, line 1)

In [35]:
fm = pd.DataFrame(np.arange(12).reshape((4,3)),index = [['a','a','b','b'],[1,2,1,2]],columns=[['A','B','C'],['Green','Red','Black']])

In [36]:
fm

        A   B     C
    Green Red Black
a 1     0   1     2
  2     3   4     5
b 1     6   7     8
  2     9  10    11

In [37]:
fm = pd.DataFrame(np.arange(12).reshape((4,4)),index = [['a','a','b','b'],[1,2,1,2]],columns=[['A','B','C'],['Green','Red','Black','Blue']])

ValueError: cannot reshape array of size 12 into shape (4,4)

In [38]:
fm = pd.DataFrame(np.arange(16).reshape((4,4)),index = [['a','a','b','b'],[1,2,1,2]],columns=[['A','B','C'],['Green','Red','Black','Blue']])

ValueError: all arrays must be same length

In [39]:
fm = pd.DataFrame(np.arange(12).reshape((4,4)),index = [['a','a','b','b'],[1,2,1,2]],columns=[['A','A','B','B'],['Green','Red','Black','Blue']])

ValueError: cannot reshape array of size 12 into shape (4,4)

In [40]:
fm = pd.DataFrame(np.arange(16).reshape((4,4)),index = [['a','a','b','b'],[1,2,1,2]],columns=[['A','A','B','B'],['Green','Red','Black','Blue']])

In [41]:
fm

        A         B
    Green Red Black Blue
a 1     0   1     2    3
  2     4   5     6    7
b 1     8   9    10   11
  2    12  13    14   15

In [42]:
fm.columns

MultiIndex(levels=[['A', 'B'], ['Black', 'Blue', 'Green', 'Red']],
           labels=[[0, 0, 1, 1], [2, 3, 0, 1]])

In [43]:
fm.index

MultiIndex(levels=[['a', 'b'], [1, 2]],
           labels=[[0, 0, 1, 1], [0, 1, 0, 1]])

In [44]:
fm.index.names = ['key']

ValueError: Length of names must match number of levels in MultiIndex.

In [45]:
fm.index.names = ['k1','k2']

In [46]:
fm

          A         B
      Green Red Black Blue
k1 k2
a  1      0   1     2    3
   2      4   5     6    7
b  1      8   9    10   11
   2     12  13    14   15

In [47]:
fm.columns.names = ['c1','c2']

In [48]:
fm

c1        A         B
c2    Green Red Black Blue
k1 k2
a  1      0   1     2    3
   2      4   5     6    7
b  1      8   9    10   11
   2     12  13    14   15

In [49]:
fm

c1        A         B
c2    Green Red Black Blue
k1 k2
a  1      0   1     2    3
   2      4   5     6    7
b  1      8   9    10   11
   2     12  13    14   15

In [50]:
fm.swaplevel('k1','k2')

c1        A         B
c2    Green Red Black Blue
k2 k1
1  a      0   1     2    3
2  a      4   5     6    7
1  b      8   9    10   11
2  b     12  13    14   15

In [51]:
fm.index

MultiIndex(levels=[['a', 'b'], [1, 2]],
           labels=[[0, 0, 1, 1], [0, 1, 0, 1]],
           names=['k1', 'k2'])

In [52]:
fm

c1        A         B
c2    Green Red Black Blue
k1 k2
a  1      0   1     2    3
   2      4   5     6    7
b  1      8   9    10   11
   2     12  13    14   15

In [53]:
fm.sum(level='k2')

c1     A         B
c2 Green Red Black Blue
k2
1      8  10    12   14
2     16  18    20   22

In [54]:
# fm.sum(level = 'k2' ) 就是将 level k2 相同的对应列求和

In [55]:
fm.sum(level='c2',axis = 1)

c2     Green  Red  Black  Blue
k1 k2
a  1       0    1      2     3
   2       4    5      6     7
b  1       8    9     10    11
   2      12   13     14    15

In [56]:
fm

c1        A         B
c2    Green Red Black Blue
k1 k2
a  1      0   1     2    3
   2      4   5     6    7
b  1      8   9    10   11
   2     12  13    14   15

In [57]:
fm.columns.names = ['Green','Red','Black','Blue']

ValueError: Length of names must match number of levels in MultiIndex.

In [58]:
fm.columns.names

FrozenList(['c1', 'c2'])

In [59]:
 frame = pd.DataFrame({'a': range(7), 'b': range(7, 0, -1),             'c': ['one', 'one', 'one', 'two', 'two',       'two', 'two'],                        'd': [0, 1, 2, 0, 1, 2, 3]})

In [60]:
frame

   a  b    c  d
0  0  7  one  0
1  1  6  one  1
2  2  5  one  2
3  3  4  two  0
4  4  3  two  1
5  5  2  two  2
6  6  1  two  3

In [61]:
frame2 = frame.set_index(['c','d'])

In [62]:
frame2

       a  b
c   d
one 0  0  7
    1  1  6
    2  2  5
two 0  3  4
    1  4  3
    2  5  2
    3  6  1

In [63]:
frame

   a  b    c  d
0  0  7  one  0
1  1  6  one  1
2  2  5  one  2
3  3  4  two  0
4  4  3  two  1
5  5  2  two  2
6  6  1  two  3

In [64]:
frame.loc(0,'c')

TypeError: __call__() takes from 1 to 2 positional arguments but 3 were given

In [65]:
frame.loc(0)

In [66]:
frame.iloc('c')

ValueError: No axis named c for object type <class 'pandas.core.frame.DataFrame'>

In [67]:
frame.iloc('a')

ValueError: No axis named a for object type <class 'pandas.core.frame.DataFrame'>

In [68]:
frame.loc('a')

ValueError: No axis named a for object type <class 'pandas.core.frame.DataFrame'>

In [69]:
frame

   a  b    c  d
0  0  7  one  0
1  1  6  one  1
2  2  5  one  2
3  3  4  two  0
4  4  3  two  1
5  5  2  two  2
6  6  1  two  3

In [70]:
frame.loc(1)

In [71]:
frame.iloc[0]

a      0
b      7
c    one
d      0
Name: 0, dtype: object

In [72]:
frame.iloc[0]['a']

0

In [73]:
frame.iloc[0]['c'] = tow

NameError: name 'tow' is not defined

In [74]:
frame.iloc[0]['c'] = 'two'

F:\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [75]:
frame = pd.DataFrame({'a': range(7), 'b': range(7, 0, -1),   'c': ['one', 'two', 'one', 'two', 'two',      'two', 'two'],                'd': [0, 1, 2, 0, 1, 2, 3]})

In [76]:
frame

   a  b    c  d
0  0  7  one  0
1  1  6  two  1
2  2  5  one  2
3  3  4  two  0
4  4  3  two  1
5  5  2  two  2
6  6  1  two  3

In [77]:
frame2 = frame.set_index(['c','d'])

In [78]:
frame2

       a  b
c   d
one 0  0  7
two 1  1  6
one 2  2  5
two 0  3  4
    1  4  3
    2  5  2
    3  6  1

In [79]:
frame2['two']

KeyError: 'two'

In [80]:
frame2.loc['two']

   a  b
d
1  1  6
0  3  4
1  4  3
2  5  2
3  6  1

In [81]:
frame2

       a  b
c   d
one 0  0  7
two 1  1  6
one 2  2  5
two 0  3  4
    1  4  3
    2  5  2
    3  6  1

In [82]:
# reset_index 的功能和 set_index 刚好相反，层次化索引级别会转移到列里面

In [83]:
frame2.reset_index()

     c  d  a  b
0  one  0  0  7
1  two  1  1  6
2  one  2  2  5
3  two  0  3  4
4  two  1  4  3
5  two  2  5  2
6  two  3  6  1

In [84]:
# 合并数据集

In [85]:
# pandas.merge 可根据一个或多个键将不同 DF 中的行连接起来，实现的事 SQL 数据库的 join 操作

In [86]:
# pandas.concat 可以沿着一条轴将多个对象堆叠在一起

In [87]:
df1 = pd.DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'a', 'b'],                 'data1': range(7)})

In [88]:
df1

  key  data1
0   b      0
1   b      1
2   a      2
3   c      3
4   a      4
5   a      5
6   b      6

In [89]:
# merge 或 join 运算 是通过一个多多个键将行连接起来

In [90]:
 df2 = pd.DataFrame({'key': ['a', 'b', 'd'],   'data2': range(3)})

In [91]:
df2

  key  data2
0   a      0
1   b      1
2   d      2

In [92]:
df1

  key  data1
0   b      0
1   b      1
2   a      2
3   c      3
4   a      4
5   a      5
6   b      6

In [93]:
pd.merge(df1,df2)

  key  data1  data2
0   b      0      1
1   b      1      1
2   b      6      1
3   a      2      0
4   a      4      0
5   a      5      0

In [94]:
# 如果没有指明用哪个列进行连接，merge 就会将重叠列的列名作为键，最好指明一下

In [95]:
# pd.merge(df1,df2,on='key)

In [96]:
# 如果两个对象的列名不同，也可以分别进行指定

In [97]:
df1

  key  data1
0   b      0
1   b      1
2   a      2
3   c      3
4   a      4
5   a      5
6   b      6

In [98]:
df2

  key  data2
0   a      0
1   b      1
2   d      2

In [99]:
df3 = pd.DataFrame({'lkey':['b','b','a','c','a','a','b'],'data1':range(7)})

In [100]:
df3

  lkey  data1
0    b      0
1    b      1
2    a      2
3    c      3
4    a      4
5    a      5
6    b      6

In [101]:
df1

  key  data1
0   b      0
1   b      1
2   a      2
3   c      3
4   a      4
5   a      5
6   b      6

In [102]:
df 4 = pd.DataFrame({'rkey':['a','b','d'],'data2':range(3)})

SyntaxError: invalid syntax (<ipython-input-102-07bdfa9380d7>, line 1)

In [103]:
df4 = pd.DataFrame({'rkey':['a','b','d'],'data2':range(3)})

In [104]:
df4

  rkey  data2
0    a      0
1    b      1
2    d      2

In [105]:
df3

  lkey  data1
0    b      0
1    b      1
2    a      2
3    c      3
4    a      4
5    a      5
6    b      6

In [106]:
pd.merge(df3,df4,left_on='lkey',right_on='rkey')

  lkey  data1 rkey  data2
0    b      0    b      1
1    b      1    b      1
2    b      6    b      1
3    a      2    a      0
4    a      4    a      0
5    a      5    a      0

In [107]:
df4 = pd.DataFrame({'rkey':['a','b','b'],'data2':range(3)})

In [108]:
df4

  rkey  data2
0    a      0
1    b      1
2    b      2

In [109]:
pd.merge(df3,df4,left_on='lkey',right_on='rkey')

  lkey  data1 rkey  data2
0    b      0    b      1
1    b      0    b      2
2    b      1    b      1
3    b      1    b      2
4    b      6    b      1
5    b      6    b      2
6    a      2    a      0
7    a      4    a      0
8    a      5    a      0

In [110]:
df4

  rkey  data2
0    a      0
1    b      1
2    b      2

In [111]:
# 上述是多对一，接下来看多对多

In [112]:
 df1 = pd.DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'b'],                  'data1': range(6)})

In [113]:
df2 = pd.DataFrame({'key': ['a', 'b', 'a', 'b', 'd'],                   'data2': range(5)})

In [114]:
df1

  key  data1
0   b      0
1   b      1
2   a      2
3   c      3
4   a      4
5   b      5

In [115]:
df2

  key  data2
0   a      0
1   b      1
2   a      2
3   b      3
4   d      4

In [116]:
pd.merge(df1,df2,on = 'key')

  key  data1  data2
0   b      0      1
1   b      0      3
2   b      1      1
3   b      1      3
4   b      5      1
5   b      5      3
6   a      2      0
7   a      2      2
8   a      4      0
9   a      4      2

In [117]:
pd.merge(df1,df2,on = 'key')

  key  data1  data2
0   b      0      1
1   b      0      3
2   b      1      1
3   b      1      3
4   b      5      1
5   b      5      3
6   a      2      0
7   a      2      2
8   a      4      0
9   a      4      2

In [118]:
df1

  key  data1
0   b      0
1   b      1
2   a      2
3   c      3
4   a      4
5   b      5

In [119]:
 left = pd.DataFrame({'key1': ['foo', 'foo', 'bar'],                        'key2': ['one', 'two', 'one'],                      'lval': [1, 2, 3]})

In [120]:
left

  key1 key2  lval
0  foo  one     1
1  foo  two     2
2  bar  one     3

In [121]:
 right = pd.DataFrame({'key1': ['foo', 'foo', 'bar', 'bar'],                     'key2': ['one', 'one', 'one', 'two'],                         'rval': [4, 5, 6, 7]})

In [122]:
right

  key1 key2  rval
0  foo  one     4
1  foo  one     5
2  bar  one     6
3  bar  two     7

In [123]:
# 对于合并运算还需考虑重复列名的处理，可以手工处理（使用重复吗轴标签），但是merge有一个更实用的suffixes选项

In [124]:
pd.merge(left,right,on = 'key1')

  key1 key2_x  lval key2_y  rval
0  foo    one     1    one     4
1  foo    one     1    one     5
2  foo    two     2    one     4
3  foo    two     2    one     5
4  bar    one     3    one     6
5  bar    one     3    two     7

In [125]:
pd.merge(left,right,on = 'key1',suffixes=('_xxx','_yyy'))

  key1 key2_xxx  lval key2_yyy  rval
0  foo      one     1      one     4
1  foo      one     1      one     5
2  foo      two     2      one     4
3  foo      two     2      one     5
4  bar      one     3      one     6
5  bar      one     3      two     7

In [126]:
# 索引上的合并

In [127]:
left = pd.DataFrame({'key':['a','b','a','a','b','c'],'value':range(6)})

In [128]:
 left1 = pd.DataFrame({'key': ['a', 'b', 'a', 'a', 'b', 'c'],                       'value': range(6)})

In [129]:
 right1 = pd.DataFrame({'group_val': [3.5, 7]}, index=['a', 'b'])

In [130]:
left1

  key  value
0   a      0
1   b      1
2   a      2
3   a      3
4   b      4
5   c      5

In [131]:
left1

  key  value
0   a      0
1   b      1
2   a      2
3   a      3
4   b      4
5   c      5

In [132]:
right1

   group_val
a        3.5
b        7.0

In [133]:
pd.merge(left1,right1,left_on='key',right_index=True)

  key  value  group_val
0   a      0        3.5
2   a      2        3.5
3   a      3        3.5
1   b      1        7.0
4   b      4        7.0

In [134]:
 lefth = pd.DataFrame({'key1': ['Ohio', 'Ohio', 'Ohio',    'Nevada', 'Nevada'],    'key2': [2000, 2001, 2002, 2001, 2002],   'data': np.arange(5.)})

In [135]:
 righth = pd.DataFrame(np.arange(12).reshape((6, 2)),    ....:                       index=[['Nevada', 'Nevada', 'Ohio', 'Ohio',     'Ohio', 'Ohio'],      [2001, 2000, 2000, 2000, 2001, 2002]],                    columns=['event1', 'event2'])

SyntaxError: invalid syntax (<ipython-input-135-d6f224d3f8d3>, line 1)

In [136]:
 righth = pd.DataFrame(np.arange(12).reshape((6, 2)),                     index=[['Nevada', 'Nevada', 'Ohio', 'Ohio',     'Ohio', 'Ohio'],      [2001, 2000, 2000, 2000, 2001, 2002]],                    columns=['event1', 'event2'])

In [137]:
lefth

     key1  key2  data
0    Ohio  2000   0.0
1    Ohio  2001   1.0
2    Ohio  2002   2.0
3  Nevada  2001   3.0
4  Nevada  2002   4.0

In [138]:
righth

             event1  event2
Nevada 2001       0       1
       2000       2       3
Ohio   2000       4       5
       2000       6       7
       2001       8       9
       2002      10      11

In [139]:
pd.merge(lefth,righth,left_on = ['key1','key2'],right_on=True)

ValueError: len(right_on) must equal len(left_on)

In [140]:
pd.merge(lefth,righth,left_on = ['key1','key2'],right_index==True)

SyntaxError: positional argument follows keyword argument (<ipython-input-140-b42734411fda>, line 1)

In [141]:
pd.merge(lefth,righth,left_on = ['key1','key2'],right_index=True)

     key1  key2  data  event1  event2
0    Ohio  2000   0.0       4       5
0    Ohio  2000   0.0       6       7
1    Ohio  2001   1.0       8       9
2    Ohio  2002   2.0      10      11
3  Nevada  2001   3.0       0       1

In [142]:
# 也可以同时使用合并双方的索引

In [143]:
left = pd.DataFrame([[1,2],[3,4],[5,6]],index=['a','c','e'],columns=['O','N'])

In [144]:
right = pd.DataFrame([[7,8],[9,10],[11,12],[13,14]],index=['b','c','d','e'],columns=['M','A'])

In [145]:
pd.merge(left,right,how='outer',left_index=True,right_index=True)

     O    N     M     A
a  1.0  2.0   NaN   NaN
b  NaN  NaN   7.0   8.0
c  3.0  4.0   9.0  10.0
d  NaN  NaN  11.0  12.0
e  5.0  6.0  13.0  14.0

In [146]:
# 还有一个便携的 join 实例方法。可以实现按索引合并，还可以用于和并多个带有相同或相似索引的DF对象，但是要求没有重叠的列

In [147]:
left.join(right,how = 'outer')

     O    N     M     A
a  1.0  2.0   NaN   NaN
b  NaN  NaN   7.0   8.0
c  3.0  4.0   9.0  10.0
d  NaN  NaN  11.0  12.0
e  5.0  6.0  13.0  14.0

In [148]:
left1 = pd.DataFrame({'key': ['a', 'b', 'a', 'a', 'b', 'c'],              'value': range(6)})

In [149]:
 right1 = pd.DataFrame({'group_val': [3.5, 7]}, index=['a', 'b'])

In [150]:
left1

  key  value
0   a      0
1   b      1
2   a      2
3   a      3
4   b      4
5   c      5

In [151]:
right1

   group_val
a        3.5
b        7.0

In [152]:
left1.join(right1,on = key)

NameError: name 'key' is not defined

In [153]:
left1.join(right1,on = 'key')

  key  value  group_val
0   a      0        3.5
1   b      1        7.0
2   a      2        3.5
3   a      3        3.5
4   b      4        7.0
5   c      5        NaN

In [154]:
# 轴向连接：

In [155]:
# 另外一种数据合并运算也被称作连接、绑定。或duidie

In [156]:
arr = np.arange(12).reshape((3,4))

In [157]:
arr

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [158]:
np.concatenate([arr,arr],axis=1)

array([[ 0,  1,  2,  3,  0,  1,  2,  3],
       [ 4,  5,  6,  7,  4,  5,  6,  7],
       [ 8,  9, 10, 11,  8,  9, 10, 11]])

In [159]:
s1 = pd.Series([0,1],index=['a','b'])

In [160]:
s1

a    0
b    1
dtype: int64

In [161]:
s2 = pd.Series([2,3,4],index=['c','d','e'])

In [162]:
s3 = pd.Series([5,6],index=['f','g'])

In [163]:
pd.concat([s1,s2,s3])

a    0
b    1
c    2
d    3
e    4
f    5
g    6
dtype: int64

In [164]:
pd.concat([s1,s2,s3],axis = 1)

F:\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

     0    1    2
a  0.0  NaN  NaN
b  1.0  NaN  NaN
c  NaN  2.0  NaN
d  NaN  3.0  NaN
e  NaN  4.0  NaN
f  NaN  NaN  5.0
g  NaN  NaN  6.0

In [165]:
s4 = pd.concat(s1,s3)

TypeError: first argument must be an iterable of pandas objects, you passed an object of type "Series"

In [166]:
s4 = pd.concat([s1,s3])

In [167]:
s4

a    0
b    1
f    5
g    6
dtype: int64

In [168]:
pd.concat([s1,s4],axis=1)

F:\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

     0  1
a  0.0  0
b  1.0  1
f  NaN  5
g  NaN  6

In [169]:
# s1 和 s4 轴上有交集，这个时候，输出是并集，如果传入join='inner'，就可以输出交集

In [170]:
pd.concat([s1,s4])

a    0
b    1
a    0
b    1
f    5
g    6
dtype: int64

In [171]:
s1

a    0
b    1
dtype: int64

In [172]:
s4

a    0
b    1
f    5
g    6
dtype: int64

In [173]:
s1

a    0
b    1
dtype: int64

In [174]:
s4

a    0
b    1
f    5
g    6
dtype: int64

In [ ]:
pd.concat([s1,s4])